{% set pageTitle = "Page title" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Nav item 1',
        href: '#1',
        active: true
      }, {
        text: 'Nav item 2',
        href: '#2'
      }, {
        text: 'Nav item 3',
        href: '#3'
      }]
    }) }}

  </div>

</div>
{% endblock %}
