{% set status = "signed-out" %}
{% set pageTitle = "We’ve saved your application" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{#       <div class="interruption"> #}

      <h1 class="govuk-heading-l">You have signed out</h1>

      <!-- <p><a class="govuk-link" href=/p5/sign-in/intro-question>Sign in</a> again to upload any more supporting evidence.</p>

      <h2 class="govuk-heading-m">If you need to upload more supporting evidence</h2> -->

      <p><a class="govuk-link" href="/p4/sign-in/sign-in">Sign in</a> again if you need to upload any more evidence that might support your application.</p>

      <p>You might find it useful to bookmark the sign in page in your internet browser.</p>

      <p>You will need your email address, mobile phone and password to sign in.</p>

      <p>You will not need to answer the questions about your daily living activities or mobility again.</p>


      <!-- <p>You can return to this application at any time until {% include 'includes/_date.html' %}.</p> -->
      <!-- Note: deadline date removed for MVP as it varies by claimant -->
      <p>It's now safe to close this window.</p>


{#       </div> #}

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
