{% set pageTitle = "Project description" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/finance-details/management/index-answer" method="post" novalidate>
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <span class="govuk-caption-l">Finance details - Management</span>
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="word-count">
                How will you manage the financial aspects of your project?
              </label>
            </h1>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What to include in your response
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Tell us about your document management support systems</li>
                  <li>Tell us about your internal approvals process for submitting claims</li>
                  <li>Tell us who will evaluate financial aspects and what qualifies them to do so</li>
                  <li>If you are a consortium, tell us how you will manage and monitor partner organisations</li>
                </ul>
              </div>
            </details>
            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10" aria-describedby="word-count-info"></textarea>
          </div>

          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 150 words
          </div>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      {% include "finance-details/management/_return-link.html" %}

      </div>
    </div>

{% endblock %}
