{% set pageTitle = "How well can you stand and how far can you walk using any aids or appliances you need?" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5/moving-around/details" method="post" novalidate>

      {% set variesHtml %}
      {{ govukTextarea({
        name: "movingaround-info-varies",
        id: "movingaround-info-varies",
        rows: "6",
        value: data['movingaround-info-varies'],
        label: {
          text: "Please tell us why"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        name: "movingaround-info",
        fieldset: {
          legend: {
            text: "How far can you walk using any aids or appliances you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>To give you an idea of distance, 50 metres is about 5 buses parked end to end.</p>
          <p>Walking aids and appliances include walking sticks, walking frames, crutches and artificial limbs.</p>
          <p>A wheelchair or mobility scooter does not count as an aid or appliance for this question. If you use a wheelchair or mobility scooter, please answer this question by telling us how well you can stand and move without using it.</p>
        '
        },
        items: [
          {
            value: "I cannot stand and move even using my aids or appliances",
            text: "I cannot stand and move even using my aids or appliances",
            checked: checked("movingaround-info", "I cannot stand and move even using my aids or appliances")
          },
          {
            value: "Less than 20 metres",
            text: "Less than 20 metres",
            checked: checked("movingaround-info", "Less than 20 metres")
          },
          {
            value: "Between 20 and up to 50 metres",
            text: "Between 20 and up to 50 metres",
            checked: checked("movingaround-info", "Between 20 and up to 50 metres")
          },
          {
            value: "Between 50 and up to 200 metres",
            text: "Between 50 and up to 200 metres",
            checked: checked("movingaround-info", "Between 50 and up to 200 metres")
          },
          {
            value: "More than 200 metres",
            text: "More than 200 metres",
            checked: checked("movingaround-info", "200 metres or more")
          },
          {
            value: "It varies",
            text: "It varies",
            checked: checked("movingaround-info", "It varies"),
            conditional: {
              html: variesHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "p5/moving-around/_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
