{% set pageTitle = "Page title" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/approval/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Approval</span>
      <h1 class="govuk-heading-l">
        Application approval
      </h1>
      <p>By approving this application, you confirm you have the authority to represent [Organisation name] and you confirm that:</p>
      <p class="govuk-body">You can buy:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>I have read and understand the accompanying DWP grant funding guidance</li>
        <li>The information in this application is correct and complete</li>
        <li>The organisation meets and will continue to meet all the grants qualifying criteria</li>
        <li>The organisation has the legal authority to apply for the grant</li>
        <li>Is financially solvent and has not been the subject of any judgement for fraud, corruption or illegal activity</li>
        <li>You understand an application does not in any way signify eligibility or confirm that a grant will be approved or provided</li>
        <li>You agree that you will repay any funding which is paid to you as a result of you providing false or incomplete information or which is used for a purpose not stated in this application</li>
      </ul>

      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
            Full name
        </label>
        <input class="govuk-input" id="name" name="full-name" type="text" value="">
      </div>

       <div class="govuk-form-group">
         <label class="govuk-label" for="role">
             Role in organisation
         </label>
         <input class="govuk-input" id="role" name="role" type="text" value="">
       </div>

       <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="approval-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="approval-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="approval-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>
            <p></p>
            <p></p>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "approval/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
{% endblock %}
