{% set pageTitle = "Page title" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/project-details/timeline/milestones" method="post" novalidate>
      <span class="govuk-caption-l">Project details - Timeline</span>
      <h1 class="govuk-heading-l">Timeline</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <h2 class="govuk-heading-s">Project start date</h2>
          <div id="event-name-hint" class="govuk-hint">
            By start date, we mean when the project starts to be delivered.
            <br>
            For example, 30 4 2022
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="timeline-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="timeline-day" name="timeline-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="timeline-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="timeline-month" name="timeline-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="timeline-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="timeline-year" name="timeline-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>
          </fieldset>
          </div>
        </div>
      </div>
<br>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <h2 class="govuk-heading-s">Project finish date</h2>
                  <div id="event-name-hint" class="govuk-hint">
                    By finish date, we mean when the project stops being delivered.
                    <br>
                    For example, 15 11 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="timeline-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="timeline-day" name="timeline-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="timeline-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="timeline-month" name="timeline-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="timeline-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="timeline-year" name="timeline-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
<br>
              <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Project duration</h2>
                  <p class="govuk-body govuk-!-font-size-24">565 months</p>
                  </div>
                </div>
              </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    {% include "project-details/timeline/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
