{% set status = "signed-out" %}
{% set pageTitle = "Error – Enter your password" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/start/code-text" method="post" novalidate>

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Enter your password",
              href: "#password"
            }
          ]
        }) }}

        {{ govukInput({
        label: {
          text: "Enter your password",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
          classes: "govuk-input--width-20",
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            "text": "Enter your password"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}

        <a href="/v2/sign-in/code-text?next=list" class="govuk-button" data-module="govuk-button">Continue</a>

        <p><a href="#">I’ve forgotten my password</a></p>

      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form action="/v2/start/code-text" method="post" novalidate>

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Password is not correct – enter your password again - you have 2 attempts remaining until your account is locked",
              href: "#password"
            }
          ]
        }) }}

        {{ govukInput({
        label: {
          text: "Enter your password",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
          classes: "govuk-input--width-20",
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            "text": "Password is not correct – enter your password again"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}

        <a href="/v2/sign-in/code-text?next=list" class="govuk-button" data-module="govuk-button">Continue</a>

        <p><a href="#">I’ve forgotten my password</a></p>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}