{% set pageTitle = "Project description" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/project-details/compliance/index-answer" method="post" novalidate>
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <span class="govuk-caption-l">Project details - Compliance</span>
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="word-count">
                How will you comply with the Equality Act 2010 for the “protected characteristics” of the people delivering your project and its beneficiaries?
              </label>
            </h1>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What to include in your response
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>For example, a public body translating a leaflet about public services into commonly spoken minority languages, so that ethnic minority communities have access.</p>
              </div>
            </details>
            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10" aria-describedby="word-count-info"></textarea>
          </div>

          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 150 words
          </div>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      {% include "project-details/compliance/_return-link.html" %}

      </div>
    </div>

{% endblock %}
