{% extends "layout-v2.html" %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  	<div class="govuk-form-group">
	    <h1 class="govuk-heading-l">Going out</h1>
	    <p class="govuk-body-l">Tell us about whether you can plan and follow a route to another place. Also tell us if severe anxiety or stress prevents you from going out.</p>
	    <p>This includes planning and following a route to another place using public transport.</p>
	    <p>This activity doesn’t look at your ability to walk.</p>
    </div><!-- govuk-form-group -->

    <a href="/v2/going-out/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}