{% set pageTitle = "Does your condition affect you planning and following journeys?" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5/planning-and-following-a-journey/index-answer" method="post" novalidate>

      {{ govukRadios({
        name: "planningandfollowingajourney-question",
        fieldset: {
          legend: {
            text: "Does your condition affect you planning and following journeys?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>This means doing the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>leaving your home to go out</li>
            <li>following a route you know well</li>
            <li>using public transport timetables to travel to somewhere new</li>
            <li>working out a new route and following it, for example, if you find a road is closed on a route you know well and need to plan and follow a different route</li>
          </ul>
          <p>This question is not about if you can physically move around.</p>
          '
        },
        items: [
          {
            value: "No",
            text: "No",
            checked: checked("planningandfollowingajourney-question", "No")
          },
          {
            value: "Yes",
            text: "Yes",
            checked: checked("planningandfollowingajourney-question", "Yes")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "p5/planning-and-following-a-journey/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
