{% set pageTitle = "Check your answers: your health condition" %}

{% extends "layout-p2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p2/_beta-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if getData.remove == "true" %}
      <div class="moj-banner moj-banner--success">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
        <div class="moj-banner__message">
          <span class="moj-banner__assistive">Success</span>‘Depression’ has been removed</div>
      </div>{# /moj-banner #}
    {% endif %}

    <h1 class="govuk-heading-l">Check your answers: your health</h1>

    <section class="app-summary-card govuk-!-margin-bottom-6">
    
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Epilepsy
        </h2>
        <div class="app-summary-card__actions">
          <a class="govuk-link" href="/p2/about-your-health/check-remove">Remove<span class="govuk-visually-hidden"> epilepsy</span>
          </a>
        </div>{# /app-summary-card__actions #}
      </header>
  
      <div class="app-summary-card__body">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Condition or disability"
              },
              value: {
                html: "Epilepsy<br>Approximate start date: June 2018"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name of condition or disability – epilepsy"
                  }
                ]
              }
            },
            {
              key: {
                text: "About this condition or disability"
              },
              value: {
                text: "This is information about my epilepsy. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi."
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "about this condition or disability – epilepsy"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>{# /app-summary-card__body #}
    </section>

    <section class="app-summary-card govuk-!-margin-bottom-6">
    
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Depression
        </h2>
        <div class="app-summary-card__actions">
          <a class="govuk-link" href="/p2/about-your-health/check-remove">Remove<span class="govuk-visually-hidden"> depression</span>
          </a>
        </div>{# /app-summary-card__actions #}
      </header>
  
      <div class="app-summary-card__body">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Condition or disability"
              },
              value: {
                html: "Depression<br>Approximate start date: May 2019"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "condition or disability – depression"
                  }
                ]
              }
            },
            {
              key: {
                text: "About this condition or disability"
              },
              value: {
                text: "This is information about my depression."
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "about this condition or disability – depression"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>{# /app-summary-card__body #}
    </section>

    <p><a href="/p2/about-your-health/condition">Add another condition or disability</a></p>

    <p><a href="../list?aboutyourhealth=completed" class="govuk-button">Confirm and save</a></p>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
