{% extends "layout-v2.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/moving-around/appliance" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "aid",
          name: "question",
          fieldset: {
            legend: {
              text: "How far can you walk taking into account any aids you use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">To give you an idea of distance, 50 metres is approximately 5 buses parked end to end.</p>
            '
          },
          items: [
            {
              value: "less-than-20-metres",
              text: "Less than 20 metres"
            },
            {
              value: "between-20-and-50-metres",
              text: "Between 20 and 50 metres"
            },
            {
              value: "between-50-and-200-metres",
              text: "Between 50 and 200 metres"
            },
            {
              value: "200-metres-or-more",
              text: "200 metres or more"
            },
            {
              value: "it-varies",
              text: "It varies"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "v2/moving-around/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

