{% set status = "signed-out" %}
{% set pageTitle = "Cookies" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Details about cookies on this service
      </h1>

      <p>We need to use some essential cookies to make the ‘Apply for Personal Independence Payment’ website work.</p>

        <div class="govuk-inset-text">
          You can <a href="/p5/info/cookies">change which cookies you're happy for us to use</a>.
        </div>

        <h2 class="govuk-heading-l">If your cookies are switched off</h2>

          <p>You will see an error message when you try to use the website if your cookies are disabled.</p>

          <p>How to turn cookies on depends on the <a target="_blank" href="https://www.whatsmybrowser.org/">browser you are using (Opens in new tab)</a> and how up to date it is.</p>

          <p>Find out how to change your settings for the most popular browsers, including:</p>

            <ul class="govuk-list govuk-list--bullet">

              <li><a target="_blank" href="https://support.microsoft.com/en-us/products/windows?os=windows-10">Internet Explorer (Opens in new tab)</a></li>
              <li><a target="_blank" href="https://www.mozilla.org/en-US/?v=a">Mozilla Firefox (Opens in new tab)</a></li>
              <li><a target="_blank" href="https://support.google.com/accounts/answer/61416?hl=en">Google Chrome (Opens in new tab)</a></li>
              <li><a target="_blank" href="https://www.apple.com/">Safari, (Opens in new tab)</a> commonly used on iPads, iPhones and other Apple computers</li>

            </ul>

          <p>Find out <a target="_blank" href="https://www.aboutcookies.org/">how to manage cookies (Opens in new tab)</a> for other browsers.</p>

          <h2 class="govuk-heading-l">Cookies that measure website use</h2>

            <p>We use Google Analytics software to collect information about how you use the website. We use this information to improve this website.</p>

            <div class="govuk-inset-text">
              We do not allow Google to use or share the data about how you use this site.
            </div>

            <p>Google analytics cookies collect and store information about:</p>

              <ul class="govuk-list govuk-list--bullet">

                <li>the page you visit - what you click on when using the website</li>
                <li>how long you spend on each page</li>
                <li>how you got to the website</li>

              </ul>


                <table class="govuk-table">

                  <caption class="govuk-table__caption">Google Analytics cookies</caption>

                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">

                      <th scope="col" class="govuk-table__header">Name</th>

                      <th scope="col" class="govuk-table__header">Purpose</th>

                      <th scope="col" class="govuk-table__header">Expires</th>

                    </tr>
                  </thead>

          <tbody class="govuk-table__body">

                <tr class="govuk-table__row">

                  <td class="govuk-table__cell">_ga</td>

                  <td class="govuk-table__cell">Counts how many people visit the website by tracking if they’ve visited before.</td>

                  <td class="govuk-table__cell">60 minutes or when you close your browser</td>

                </tr>

                <tr class="govuk-table__row">

                  <td class="govuk-table__cell">_gat</td>

                  <td class="govuk-table__cell">Counts how many pages are viewed and how often.</td>

                  <td class="govuk-table__cell">10 minutes</td>

                </tr>

          </tbody>
        </table>

        <h2 class="govuk-heading-l">Cookies that help performance</h2>

          <p>We use some cookies to help make sure this website works consistently for everyone.</p>

          <table class="govuk-table">

            <caption class="govuk-table__caption">Perfomance cookies</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header">Name</th>

                <th scope="col" class="govuk-table__header">Purpose</th>

                <th scope="col" class="govuk-table__header">Expires</th>

              </tr>
            </thead>

          <tbody class="govuk-table__body">

                <tr class="govuk-table__row">

                  <td class="govuk-table__cell">routing_stage</td>

                  <td class="govuk-table__cell">Cookies help us to allocate server traffic to make the user experience as smooth as possible.</td>

                  <td class="govuk-table__cell">60 minutes</td>

                </tr>

                <tr class="govuk-table__row">

                  <td class="govuk-table__cell">routing_stage.sig</td>

                  <td class="govuk-table__cell">Cookies help us to allocate server traffic to make the user experience as smooth as possible.</td>

                  <td class="govuk-table__cell">60 minutes</td>

                </tr>

          </tbody>
        </table>

        <h2 class="govuk-heading-l">Cookies that help keep your information secure</h2>

          <p>We use session cookies to keep your information secure as you move back and forward through the website.</p>

          <p>These cookies are automatically removed from your computer when you complete your application or if you:</p>

          <ul class="govuk-list govuk-list--bullet">

            <li>do not do anything for 60 minutes</li>
            <li>close your browser</li>
            <li>switch off your computer</li>

          </ul>

          <table class="govuk-table">

            <caption class="govuk-table__caption">Security cookies</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header">Name</th>

                <th scope="col" class="govuk-table__header">Purpose</th>

                <th scope="col" class="govuk-table__header">Expires</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell">SESSIONID</td>

                    <td class="govuk-table__cell">To remember where you are in the application and your previous answers so you can move back and forward through the website.</td>

                    <td class="govuk-table__cell">60 minutes or when you close your browser</td>

                  </tr>

            </tbody>
          </table>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
