{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  We’ve saved your application
{% endblock %}


{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/start/code" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Your email address",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This must the same email address your invite was sent to."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}