{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  We’ve saved your application
{% endblock %}


{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
{#   {% include "v1/_back-link.html" %} #}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/start/code-text" method="post" novalidate>

        <h1 class="govuk-heading-l">Sign in</h1>

        {{ govukInput({
          label: {
            text: "Your email address",
            isPageHeading: false
          },
          hint: {
            text: "The email address your invite was sent to."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Your National Insurance number"
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: "national-insurance-number",
          name: "national-insurance-number",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "Your date of birth",
              isPageHeading: false
            }
          },
          hint: {
            text: "For example, 12 11 2007"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}