{% set status = "signed-out" %}
{% set pageTitle = "We’ve saved your application" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We’ve saved your application until<br>{% include 'includes/_date.html' %}
        </h1>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You can return to your application again. Go to <a href="/p3/sign-in/sign-in">[Service URL/signin]</a>. You might find it useful to bookmark this or use the link in the email we sent you.</p>
      <p>We’ll save this application until {% include 'includes/_date.html' %} before it is deleted.</p>
      <p>It’s now safe to close this window.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}