{% set status = "signed-out" %}
{% set pageTitle = "Are you using this service for the first time?" %}

{% extends "layout-r1.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "r1/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "r1/_beta-banner.html" %}
{#   {% include "r1/_back-link.html" %} #}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/r1/sign-in/intro-question-answer" method="post" novalidate>

        {{ govukRadios({
          name: "question",
          fieldset: {
            legend: {
              text: "Are you using this service for the first time?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I need to create a password"
            },
            {
              value: "no",
              text: "No, I have already created a password"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
