{% set status = "signed-out" %}
{% set pageTitle = "Is this the first time you’re using this service?" %}

{% extends "layout-r2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "r2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "r2/_beta-banner.html" %}
    
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="sign-in " method="post" novalidate>

        {{ govukRadios({
          name: "question",
          fieldset: {
            legend: {
              text: "Have you used the Apply for PIP online service before?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I already have a password"
            },
            {
              value: "no",
              text: "No, I need to create a password"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
