{% extends "layout-v1.html" %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Reading</h1>
      <p class="govuk-body-l">Tell us about whether you can read and understand signs, symbols and words in your native language. Also tell us about difficulties you have concentrating when doing so.</p>
      <p>This means:</p>
      <ul class="govuk-list govuk-list--bullet">
      	<li>signs, symbols and words written or printed in your native language, not braille</li>
        <li>understanding numbers, including dates</li>
        <li>other instructions, such as timetables</li>
      </ul>
    </div><!-- govuk-form-group -->

    <a href="/v1/reading/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
