{% extends "layout.html" %}

{% set pageTitle = "Your email code – 67567 – Apply for Personal Independence Payment (PIP)" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
<p style="padding: 20px; margin: 0"><strong>Subject:</strong> {{ pageTitle }}</p>
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}



<div class="notify-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">

      <h1 class="govuk-heading-m">Your email code – Apply for Personal Independence Payment (PIP)</h1>

      <p>Here is the code you’ll need to access your application.</p>

      <p class="govuk-body-l"><strong>67567</strong></p>

      <p>This code is valid until XXXX at XX:XX</p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

</div>{# /notify-width-container #}

{% endblock %}
{% block footer %}
{% endblock %}