{% extends "layout.html" %}

{% set pageTitle = "Personal Independence Payment: Tell us how your health condition or disability affects you" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="notify-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">

      <p>Dear Donald Duck,</p>

      <p>Thank you for starting your Personal Independence Payment (PIP) claim.</p>

      <p>We need to find out more information about your daily living and mobility needs to help us make our decision.</p>
 
      <h2 class="govuk-heading-m">What you need to do</h2>
 
      <p>Tell DWP how your disability affects you and upload any supporting documentary information using our online service.</p>

      <p>Go to <a href="#">[URL of service]</a></p>
       
      <h2 class="govuk-heading-m">When you need to do it by</h2>
       
      <p>Answer all the questions, upload any supporting documentary evidence and submit them to DWP using the online service by xx Month 2020.</p>
       
      <p>If you do not do it by this date we may end your PIP claim. If you currently get Disability Living Allowance this will stop.</p>
       
      <h2 class="govuk-heading-m">Get help</h2>
       
      <p>You can ask a friend, relative, carer, representative, or local support organisation to help you.</p>
       
      <p>There is information in each step of the online service to help you.</p>
       
      <h2 class="govuk-heading-m">Other ways to send your information</h2>
       
      <p>If you decide you would prefer to fill in and send a paper form and any supporting information in the post instead contact:</p>
       
      <p>Phone: 0800 121 4433<br>
      Textphone: 0800 121 4493 if you have speech or hearing difficulties</p>
       
      <p>Yours sincerely,</p>
       
      <p>Office Manager</p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

</div>

{% endblock %}
{% block footer %}
{% endblock %}