{% set status = "signed-out" %}
{% set pageTitle = "Your 6-digit code has expired" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if getData.expired == "true" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Your 6-digit code has expired. Get another code."
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Get another 6-digit code sent to email@email.com</h1>

      <a href="code-email?next=list" class="govuk-button">Get another code</a>

      {% include "v2/sign-in/_problems.html" %} 

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}