{% set status = "signed-out" %}
{% set pageTitle = "Your account has been locked" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Your account has been locked."
          }
        ]
      }) }}

      <p>To unlock your account you will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your email address</li>
        <li>your National Insurance number</li>
        <li>access to your emails and mobile phone</li>
      </ul>

      <a href="/v2/sign-in/enter-details?scenario=locked" class="govuk-button">Continue</a>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}