{% set status = "signed-out" %}
{% set pageTitle = "Sign in" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/start/code-text" method="post" novalidate>

        {{ govukInput({
        label: {
          text: "Your password",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
          classes: "govuk-input--width-20",
          id: "password",
          name: "password",
          type: "password",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        <a href="/v2/sign-in/code-text?next=list" class="govuk-button" data-module="govuk-button">Continue</a>

        <p><a href="#">Forgotten your password?</a></p>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}