{% set status = "signed-out" %}
{% set pageTitle = "A 6-digit code has been emailed to myemail@gmail.com" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/sign-in/reset-code-text" method="POST" novalidate>

        <h1 class="govuk-heading-l">A 6-digit code has been emailed to myemail@gmail.com</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="code" >Your 6-digit code</label>
          <input class="govuk-input govuk-input--width-5 input-capitals" id="code" name="code" maxlength="6" data-hj-suppress type="text" pattern="[0-9]*" inputmode="numeric" value="">
        </div>

        <button type="submit" class="govuk-button">Continue</button>

        <p><a href="/v2/sign-in/code-email-get-another">I did not get a code</a></p>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}