{% extends "layout-v2.html" %}

{% set pageTitle = "Tell us how your disability affects you" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" style="margin-bottom: 40px;">
        Tell us how your disability affects you
      </h1>

      <p class="govuk-!-margin-bottom-7">You can <a href="/v2/sign-out">sign out</a> at any point and your progress will be saved. You can return to this application at any time until {% include "includes/_date.html" %}.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Tell us about you and your health
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
{#             <li class="app-task-list__item">
              {% if sectionStatus.aboutyou === "completed" %}
                <a class="app-task-list__task-name " href="/v2/about-you/check">
                  About you 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.aboutyou === "started" %}
                <a class="app-task-list__task-name " href="/v2/about-you/name">
                  About you
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/about-you/name">
                  About you
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li> #}
            <li class="app-task-list__item">
              {% if sectionStatus.aboutyourhealth === "completed" %}
                <a class="app-task-list__task-name " href="/v2/about-your-health/check">
                  About your health
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.aboutyourhealth === "started" %}
                <a class="app-task-list__task-name " href="/v2/about-your-health/condition">
                  About your health
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/about-your-health/condition">
                  About your health
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.aboutyourhealthprofessionals === "completed" %}
                <a class="app-task-list__task-name " href="/v2/about-your-health-professionals/check">
                  About your health professionals 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.aboutyourhealthprofessionals === "started" %}
                <a class="app-task-list__task-name " href="/v2/about-your-health-professionals">
                  About your health professionals
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/about-your-health-professionals">
                  About your health professionals
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Tell us about your day-to-day life
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="app-task-list__item">
              {% if sectionStatus.preparingfood === "completed" %}
                <a class="app-task-list__task-name " href="/v2/preparing-food/check">
                  Preparing food 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.preparingfood === "started" %}
                <a class="app-task-list__task-name " href="/v2/preparing-food/">
                  Preparing food
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/preparing-food/">
                  Preparing food
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.eatinganddrinking === "completed" %}
                <a class="app-task-list__task-name " href="/v2/eating-and-drinking/check">
                  Eating and drinking 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.eatinganddrinking === "started" %}
                <a class="app-task-list__task-name " href="/v2/eating-and-drinking/">
                  Eating and drinking
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/eating-and-drinking/">
                  Eating and drinking
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.managingtreatments === "completed" %}
                <a class="app-task-list__task-name " href="/v2/managing-treatments/check">
                  Managing treatments 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.managingtreatments === "started" %}
                <a class="app-task-list__task-name " href="/v2/managing-treatments/">
                  Managing treatments
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/managing-treatments/">
                  Managing treatments
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.washingandbathing === "completed" %}
                <a class="app-task-list__task-name " href="/v2/washing-and-bathing/check">
                  Washing and bathing 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.washingandbathing === "started" %}
                <a class="app-task-list__task-name " href="/v2/washing-and-bathing/">
                  Washing and bathing
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/washing-and-bathing/">
                  Washing and bathing
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.managingtoiletneeds === "completed" %}
                <a class="app-task-list__task-name " href="/v2/managing-toilet-needs/check">
                  Managing toilet needs 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.managingtoiletneeds === "started" %}
                <a class="app-task-list__task-name " href="/v2/managing-toilet-needs/">
                  Managing toilet needs
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/managing-toilet-needs/">
                  Managing toilet needs
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.dressingandundressing === "completed" %}
                <a class="app-task-list__task-name " href="/v2/dressing-and-undressing/check">
                  Dressing and undressing 
                  <span>
                    <strong class="govuk-tag tag-completed app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.dressingandundressing === "started" %}
                <a class="app-task-list__task-name " href="/v2/dressing-and-undressing/">
                  Dressing and undressing
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/dressing-and-undressing/">
                  Dressing and undressing
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.communicating === "completed" %}
                <a class="app-task-list__task-name " href="/v2/communicating/check">
                  Communicating 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.communicating === "started" %}
                <a class="app-task-list__task-name " href="/v2/communicating/">
                  Communicating
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/communicating/">
                  Communicating
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.reading === "completed" %}
                <a class="app-task-list__task-name " href="/v2/reading/check">
                  Reading 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.reading === "started" %}
                <a class="app-task-list__task-name " href="/v2/reading/">
                  Reading
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/reading/">
                  Reading
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.mixingwithotherpeople === "completed" %}
                <a class="app-task-list__task-name " href="/v2/mixing-with-other-people/check">
                  Mixing with other people 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.mixingwithotherpeople === "started" %}
                <a class="app-task-list__task-name " href="/v2/mixing-with-other-people/">
                  Mixing with other people
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/mixing-with-other-people/">
                  Mixing with other people
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.makingdecisionsaboutmoney === "completed" %}
                <a class="app-task-list__task-name " href="/v2/making-decisions-about-money/check">
                  Making decisions about money 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.makingdecisionsaboutmoney === "started" %}
                <a class="app-task-list__task-name " href="/v2/making-decisions-about-money/">
                  Making decisions about money
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/making-decisions-about-money/">
                  Making decisions about money
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.goingout === "completed" %}
                <a class="app-task-list__task-name " href="/v2/going-out/check">
                  Going out 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.goingout === "started" %}
                <a class="app-task-list__task-name " href="/v2/going-out/">
                  Going out
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/going-out/">
                  Going out
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.movingaround === "completed" %}
                <a class="app-task-list__task-name " href="/v2/moving-around/check">
                  Moving around 
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.movingaround === "started" %}
                <a class="app-task-list__task-name " href="/v2/moving-around/">
                  Moving around
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/moving-around/">
                  Moving around
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if sectionStatus.additionalinformation === "completed" %}
                <a class="app-task-list__task-name " href="/v2/additional-information/check">
                  Additional information
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.additionalinformation === "started" %}
                <a class="app-task-list__task-name " href="/v2/additional-information/">
                  Additional information
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/additional-information/">
                  Additional information
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Upload any supporting evidence you have
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if sectionStatus.supportingevidence === "completed" %}
                <a class="app-task-list__task-name " href="/v2/supporting-evidence/supporting-evidence-uploaded-3">
                  Supporting evidence
                  <span>
                    <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
                  </span>
                </a>
              {% elif sectionStatus.supportingevidence === "started" %}
                <a class="app-task-list__task-name " href="/v2/supporting-evidence/">
                  Supporting evidence
                  <span>
                    <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
                  </span>
                </a>
              {% else %}
                <a class="app-task-list__task-name " href="/v2/supporting-evidence/">
                  Supporting evidence
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if 
                sectionStatus.aboutyourhealth === "completed" and
                sectionStatus.preparingfood === "completed" and
                sectionStatus.eatinganddrinking === "completed" and
                sectionStatus.managingtreatments === "completed" and
                sectionStatus.washingandbathing === "completed" and
                sectionStatus.dressingandundressing === "completed" and
                sectionStatus.communicating === "completed" and
                sectionStatus.reading === "completed" and
                sectionStatus.mixingwithotherpeople === "completed" and
                sectionStatus.makingdecisionsaboutmoney === "completed" and
                sectionStatus.goingout === "completed" and
                sectionStatus.movingaround === "completed" and
                sectionStatus.additionalinformation === "completed"
              %}
                <a class="app-task-list__task-name " href="/v2/apply/declaration">
                 Submit your application
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Not started</strong>
                  </span>
                </a>
              {% else %}
                <span class="app-task-list__task-name " href="#" aria-describedby="#">
                  <span style="color: #626a6e; width: 70%; display: inline-block;">Submit your application after completing all other&nbsp;sections</span>
                  <span>
                    <strong class="govuk-tag tag-notstarted app-task-list__task-completed" id="#">Do this last</strong>
                  </span>
                </span>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>

      <p style="margin-top: -10px">
        <a href="/v2/cancel-application">Cancel application</a>
      </p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}