{% set pageTitle = "Project description" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/project-details/description/index-answer" method="post" novalidate>
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
        <span class="govuk-caption-l">Project details - Description</span>
        <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="word-count">
          How will your project meet all of the needs listed in the competition?
        </label>
        </h1>
        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What to include in your response
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Tell us about your project’s aims and objectives.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Describing what your project will do and how it will do it</li>
            <li>Describing how your project fills gaps in existing employment programmes</li>
          </ul>
          <p>Tell us who your project will benefit and how many will benefit.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Describing the value your project will create for your beneficiaries</li>
            <li>Describing how the value added for beneficiaries might impact the wider community</li>
          </ul>
        </div>
        </details>
        <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10" aria-describedby="word-count-info"></textarea>

        <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 150 words
        </div>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
    {% include "project-details/description/_return-link.html" %}

  </div>
</div>
{% endblock %}
