{% set status = "signed-out" %}
{% set pageTitle = "Error – Is this the first time you’re using this service?" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
{#   {% include "p3/_back-link.html" %} #}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/p3/sign-in/intro-question-answer" method="post" novalidate>

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select yes if you’re using this service for the first time",
              href: "#question"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "question",
          fieldset: {
            legend: {
              text: "Is this the first time you’re using this service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select yes if you’re using this service for the first time"
          },
          items: [
            {
              value: "yes",
              text: "Yes, I need to create my password"
            },
            {
              value: "no",
              text: "No, I have already created a password"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}