{% extends "layout-v2.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration</h1>

      <p>The information I have given on this form is correct and complete.</p>

      <p>If I give wrong or incomplete information, my benefit may be stopped and I may be prosecuted or may have to pay a penalty.</p>

      <p>I must promptly tell the office that pays my Personal Independence Payment of anything that may affect my entitlement to, or the amount of, that benefit.</p>

      <a href="/v2/apply/confirmation" class="govuk-button">I agree – send my information</a>
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}