{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Additional information (optional)</h1>
    <form action="/v1/additional-information/check" method="post" novalidate>

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        rows: "18",
        label: {
          html: '
          <p class="govuk-body-l">Tell us anything else you think we should know about your health conditions or disabilities and how these affect you, that you haven’t mentioned already.</p>
          <p>If any carers, friends or family want to provide further information they can do it here.</p>
          <p>You don’t have to complete this part if you’ve covered everything in the form</p>'
        }
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>

      </form>

      {% include "v1/additional-information/_return-link.html" %}
      
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}


