{% set pageTitle = "Health professional details" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Health professional details</h1>

      <p class="govuk-hint">You can add details for other healthcare professionals later if you need to.</p>

      <form action="/v2/about-your-health-professionals/another" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Their name"
          },
          id: "name",
          name: "name"
        }) }}

        {{ govukInput({
          label: {
            text: "Profession"
          },
          id: "profession",
          name: "profession"
        }) }}

        {{ govukInput({
          label: {
            text: "Phone number, including dialling code"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}


        {% call govukFieldset({
          legend: {
            text: "Their address",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: true
          }
        }) %}

        <span id="address-hint" class="govuk-hint">
          This is where you see them such as the health centre or hospital address.
        </span>

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "address-line-1",
          name: "address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "address-line-2",
          name: "address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "address-town",
          autocomplete: "address-level2"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode",
          autocomplete: "postal-code"
        }) }}

      {% endcall %}

        {{ govukDateInput({
        id: "date-of-birth",
        fieldset: {
          legend: {
            text: "When did you last see them?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This can be an approximate date – for example, 3 2020"
        },
        items: [
          {
            id: "condition-0--dob--month-",
            name: "condition-0--dob--month-",
            label: "Month",
            classes: "govuk-input--width-2",
            attributes: {
              'data-name': 'condition-%index%--dob--month-',
              'data-id': 'condition-%index%--dob--month-'
            }
          },
          {
            id: "condition-0--dob--year-",
            name: "condition-0--dob--year-",
            label: "Year",
            classes: "govuk-input--width-4",
            attributes: {
              'data-name': 'condition-%index%--dob--year-',
              'data-id': 'condition-%index%--dob--year-'
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

      {% include "v2/about-your-health-professionals/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}