{% set pageTitle = "Name and team" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
{{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/finance-details/annual-income/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Finance details - Annual income</span>
      <h1 class="govuk-heading-l">
        What is your annual income and expenditure as shown in your most recent audited accounts?
      </h1>
      <p></p>
      <div>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="amount-applying-for">
              Enter the amount in pounds
            </label>
          </h1>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-!-width-one-third" id="amount-applying-for" name="amount-applying-for"  value="{{ data['amount-applying-for'] }}" type="number" spellcheck="false">
          </div>
        </div>
      </div>
<br>
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "finance-details/annual-income/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
