{% extends "layout.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/going-out/help" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "aid",
          name: "question",
          fieldset: {
            legend: {
              text: "Do you need help from another person to plan a route to somewhere you know well?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">By this we mean do you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>need someone to help you plan a route, or plan it for you?</li>
              <li>need to be prompted or encouraged to go out?</li>
              <li>need to have someone with you when going out to reassure you?</li>
              <li>need help from an assistance dog or specialist aid, such as a white stick?</li>
              <li>need someone to be with you to keep you safe or stop you getting lost?</li>
              <li>need someone to help you deal with public transport or unexpected circumstances?</li>
            </ul>
            <p>This includes help you have and help you need but don’t get.</p>
            '
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "sometimes",
              text: "Sometimes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "v1/going-out/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

