<p><strong><abbr title="Contact">Personal Independent Payment</abbr></strong><br>
Telephone: 0800 587 0932<br>
Textphone: 0800 587 0937<br>
<a href="https://www.nidirect.gov.uk/contacts/personal-independence-payment-pip-centre">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
<a href="https://www.nidirect.gov.uk/contacts/personal-independence-payment-pip-centre">Video relay service</a> for Irish Sign Language (<abbr title="Irish Sign Language">ISL</abbr>) users - <a href="https://www.youtube.com/watch?v=MSN79HlU7XE">check you can use the service</a><br>
<!-- <a href="https://www.nidirect.gov.uk/contacts/personal-independence-payment-pip-centre">Check you can use the service</a><br> -->
Available Monday to Friday, 9am to 5pm.<br>
Closed public holidays.<br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a>


<!-- <p>Calling from abroad: +44 191 218 7766<br>
Monday to Friday, 9am to 5pm</p> -->
