{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
{{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/declarations/gdpr/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Declarations</span>
      <h1 class="govuk-heading-l">
        GDPR and Freedom of Information Act
      </h1>
      <p>Please confirm you have read the Department for Work and Pension’s statement on General Data Protection Regulation (GDPR) and the Freedom of Information Act 2000.</p>
      <p>The Department for Work and Pensions is the ‘data controller’ for all UKSPF-related personal data and it controls and processes personal and special category data under the lawful bases of Article 6 (1) (e) and Article 9(2)(b) GDPR respectively.</p>
      <p>As a data processer of UKSPF personal data, your organisation must ensure that UKSPF personal and special category data is processed in a way which complies with requirements of the General Data Protection Regulation (GDPR) and all applicable laws and regulations relating to processing of personal data and privacy, including, where necessary, the guidance and codes of practice issued by the Information Commissioner and any other relevant data protection regulations.</p>
      <p>You must also comply with the practices and requirements described in the UKSPF programme guidance published by the Managing Authority.
By signing and accepting this full application form you are accepting and confirming you will comply with the requirements of the General Data Protection Regulation.</p>
      <p>Read more information about the Department for Work and Pension Personal Information Charter.</p>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="gdpr" name="gdpr" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="gdpr">
                I have read and understand the statement above
              </label>
            </div>
      </div>
<br>
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "declarations/gdpr/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
