{% extends "layout.html" %}

{% block pageTitle %}
  Invitation number
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
          <a href="landing-page" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="regulatory-body" method="post" class="form">
        <h1 class="govuk-heading-l">
          Enter the reference number of your invitation
        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label" for="invitation-ref-number">
                  Invitation reference number
                </label>
              </h1>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-!-width-one-third" id="invitation-ref-number" name="invitation-ref-number"  value="ABC123" type="text" spellcheck="false">
              </div>
            </div>

            <div>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                     I do not know my invitation reference number
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Before you can apply for a UK Shared Prosperity Fund (UKSPF) grant you need to know which invitation you are applying for.</p>
                  <p>You can find the invitation that is linked to your area in the guidance.<a href="#"> Check the guidance before applying</a>.</p>
                </div>
              </details>
            </div>

          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>
  {% endblock %}
