{% extends "layout.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/about-your-health/conditions" method="post" novalidate>

        <p>Q1 Tell us about the professional(s) best placed to advise us on how your
        health condition or disability affects you
        For example, a GP, hospital doctor, specialist nurse, community psychiatric nurse, occupational therapist, physiotherapist, social worker, counsellor, or support worker.
        Name Address
        Profession
        Phone number including the dialling code
        When did you last see them?
        (approximate date)</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "v1/about-your-health/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}