{% extends "layout-p1.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "p1/_beta-banner.html" %}
  {% include "p1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-add-another">

    <h1 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Extra information – preparing food</h1>
    <form action="/p1/preparing-food/check" method="post" novalidate>

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        rows: "18",
        label: {
          html: "<p>Tell us more about any difficulties you have when preparing and cooking food:</p>
          <ul class='govuk-list govuk-list--bullet'>
            <li>tell us how your condition affects you doing this activity</li>
            <li>tell us how you manage at the moment and the problems you have when you cannot do this activity</li>
            <li>tell us how long it takes to prepare and cook food</li>
            <li>does whether you can do this vary throughout the day? Tell us about good and bad days</li>
            <li>can you cook using an oven safely? If not, tell us why not</li>
            <li>tell us about the aids or appliances you need to use to help you prepare and cook food</li>
            <li>do you experience any other difficulties, either during or after the activity, like pain, breathlessness or tiredness?</li>
            <li>tell us about the help you need from another person when preparing food. This includes help you have and help you need but do not get</li>
          </ul>"
        }
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>

      </form>

      {% include "p1/preparing-food/_return-link.html" %}
      
    </div>{# /moj-add-another #}
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}