{% extends "layout-p1.html" %}

{% block beforeContent %}
  {% include "p1/_beta-banner.html" %}
  {% include "p1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Preparing food</h1>
      <p class="govuk-body-l">Use the following questions to tell us about whether you can prepare a simple one course meal for one from fresh ingredients.</p>
      <p>This includes things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>food preparation such as peeling, chopping, or opening a can or other packaging</li>
        <li>safely cooking or heating food on a cooker hob or in a microwave oven</li>
      </ul>
    </div><!-- govuk-form-group -->

    <a href="/p1/preparing-food/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
