{% set pageTitle = "Check your answers: declaration" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
{{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="/p5/list">

      <h1 class="govuk-heading-l">Declarations</h1>

      {% if data['talkingandlistening-question'] === 'Yes' %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Declaration"
              },
              value: {
                text: data['talkingandlistening-question']
              },
              actions: {
                items: [
                  {
                    href: "/p5/talking-and-listening/",
                    text: "Change",
                    visuallyHiddenText: " your answer to false or incomplete information"
                  }
                ]
              }
            },
            {
              key: {
                text: "Difficulties you have with talking, listening and understanding and how you manage them"
              },
              value: {
                html: data['talkingandlistening-details']
              },
              actions: {
                items: [
                  {
                    href: "/p5/talking-and-listening/details",
                    text: "Change",
                    visuallyHiddenText: " GDPR and Freedom of Information Act"
                  }
                ]
              }
            }
          ]
        }) }}

      {% else %}

        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Evidence"
            },
            value: {
              text: "I understand I may be asked to provide evidence"
            },
            actions: {
              items: [
                {
                  href: "/declarations/evidence/",
                  text: "Change",
                  visuallyHiddenText: " your answer to false or incomplete information declaration?"
                }
              ]
            }
          },
          {
            key: {
              text: "False or incomplete information"
            },
            value: {
              text: "I have read and understood the statement"
            },
            actions: {
              items: [
                {
                  href: "/declarations/false-information/",
                  text: "Change",
                  visuallyHiddenText: " your answer to false or incomplete information declaration?"
                }
              ]
            }
          },
          {
            key: {
              text: "GDPR and Freedom of Information Act"
            },
            value: {
              text: "I have read and understood the statement"
            },
            actions: {
              items: [
                {
                  href: "/declarations/gdpr/",
                  text: "Change",
                  visuallyHiddenText: " your answer to gdpr declaration?"
                }
              ]
            }
          }
          ]
        }) }}

      {% endif %}

      <a href="/p5/list?falseinformation=completed" class="govuk-button">Confirm and save</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
