{% extends "layout.html" %}

{% block pageTitle %}
  Application Complete
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    Application complete
                  </h1>
                  <div class="govuk-panel__body">
                    Your reference number<br></br><strong>AB123CD</strong>
                  </div>
                </div>
                <p class="govuk-body">We have received your application.</p>
                <p class="govuk-body">Make a note of your reference number. We do not email this to you.</p>
                <h2 class="govuk-heading-m">What happens next</h2>
                <p>We will:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>check your application</li>
                  <li>contact you if we need to</li>
                  <li>aim to give you a decision within one month</li>
                </ul>
                <p>Find out more information about the process<a href="#"> once you have applied</a>.</p>
                <h2 class="govuk-heading-m">Give feedback</h2>
                <p class="govuk-body">
                <a href="#">What do you think of the service?</a>
                </p>
              </div>
            </div>
          </main>
        </div>
  {% endblock %}
