{% extends "layout.html" %}

{% block pageTitle %}
  Resend save and return number
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
          <a href="return-to-an-application" class="govuk-back-link">Back</a>
  {% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Resend save and return number</h1>

      <form action="resend-save-and-return-number-confirmation" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "This must be the same email address you gave us when you started your application."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          classes: "govuk-input--width-20",
          attributes: {
            spellcheck: "false"
          }
        }) }}


<br>

        {{ govukButton({
          text: "Resend save and return number"
        }) }}


      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
