{% extends "layout.html" %}

{% block pageTitle %}
  Reset memomrable word email sent
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-notification-banner govuk-grid-column-two-thirds role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        We’ve sent you an email with instructions for resetting your memorable word.
      </p>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

                <div govuk-grid-column-two-thirds>
                        <h2 class="govuk-heading-m">What happens next</h2>
                        <p class="govuk-body">
                          Follow the instructions for resetting your memorable word. When you have reset your memorable word you will be able to return to your application.
                        </p>

            </div>

  {% endblock %}
