{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Do you have an account
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>

{# ****** Language toggle - commented out
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<p></p>
    </div>
  <div class="govuk-grid-column-one-third">
    <span aria-current="true">English | </span>
    <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
    <span aria-hidden="true">Cymraeg</span>
    </a>
  </div>
</div>
#}

  {% endblock %}

  {% block content %}
  <span class="govuk-caption-xl">Strengthening employability skills for the over-50s</span>
  <h1 class="govuk-heading-l">Do you have a UK Shared Prosperity Fund account?</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-font-size-24 govuk-body govuk-!-font-weight-bold">Yes</p>
    <p>Sign in to your account</p>
    <a href="sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Sign in
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-font-size-24 govuk-body govuk-!-font-weight-bold">No</p>
    <p>Check if you are eligible to be a lead applicant</p>
    <a href="can-your-organisation-meet-all-of-the-needs-listed-in-the-competition" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Check eligibility
    </a>
  </div>
</div>
  {% endblock %}
