{% extends "layout-v3.html" %}

{% block pageTitle %}
  Amount being applied for
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="task-list-6" method="post" class="form">

        <h1 class="govuk-heading-l">
          How much money are you applying for?
        </h1>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="amount-applying-for">
              Enter the amount in pounds
            </label>
          </h1>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-!-width-one-third" id="amount-applying-for" name="amount-applying-for"  value="{{ data['amount-applying-for'] }}" type="number" spellcheck="false">
          </div>
        </div>

        <div>
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </div>
      </form>
      </div>
    </div>

  {% endblock %}
