{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Select an address
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirm-your-organisation-manual-input" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">Create a UKSPF account</span>
            <h1 class="govuk-fieldset__heading">
              Select an address
            </h1>
          </legend>
<br>
      <p>Postcode</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><font class="govuk-body govuk-!-font-weight-bold">SW1 2AA</font></p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <a href="enter-your-organisations-registered-address">Change</a>
        </div>
      </div>

          <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Select an address
                </label>
                <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="sort">
                  <option value="address-1" selected>3 addresses found</option>
                  <option value="address-2">1 Somerset Street, Leeds</option>
                  <option value="address-3">2 Somerset Street, Leeds</option>
                  <option value="address-4">3 Somerset Street, Leeds</option>
                </select>
              </div>
              <p><a href="organisation-registered-address">I can't find my address in the list</a></p>

              <div>
              <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
  {% endblock %}
