{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  You are eligible to apply as a lead applicant
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <span class="govuk-caption-xl">Eligibility result</span>
              <h1 class="govuk-heading-l">
                Great! You are eligible to apply as a lead applicant
              </h1>
              <p>As a lead applicant, you can apply as an individual organisation or as the lead organisation in a consortium. Consortium applications are relevant if you cannot meet all of the needs listed in a competition.</p>
              <p>Before you start your applications, you must create an account for your organisation with at least one individual managing this account.</p>
              <p>The details in your account, such as your bank or building society information, will be assessed alongside every application you make.</p>
        </div>

        <div>
          <a href="what-type-of-organisation-are-you" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
             Continue and create account
          </a>
        </div>
    </div>
  </div>
  {% endblock %}
