{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-add-another">

    <h1 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Extra information – mixing with other people</h1>
    <form action="/v1/mixing-with-other-people/check" method="post" novalidate>

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        rows: "18",
        label: {
          html: "<p>Tell us more about any difficulties you have when mixing with other people:</p>
          <ul class='govuk-list govuk-list--bullet'>
            <li>tell us about how your condition affects you doing this activity</li>
            <li>tell us how you manage at the moment and the problems you have when you can’t do this activity</li>
            <li>do you have behaviours that could put yourself or others at risk?</li>
            <li>does whether you can do this vary throughout the day? Tell us about good and bad days</li>
            <li>do you avoid mixing with other people, some more than others?</li>
            <li>does it take you a long time to mix with other people?</li>
            <li>do you experience any other difficulties, either during or after the activity, like anxiety or distress?</li>
            <li>tell us about help you need from another person when mixing with other people. This includes help you have and help you need but don’t get</li>
          </ul>"
        }
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Continue'
        }) }}
      </div>

      </form>

      {% include "v1/mixing-with-other-people/_return-link.html" %}
      
    </div>{# /moj-add-another #}
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}


