{% extends "layout.html" %}

{% block beforeContent %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Mixing with other people</h1>

    <p class="govuk-body-l">Tell us about whether you have difficulties mixing with other people.</p>

    <p>This means how well you are able to:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>get on with other people face-to-face, either individually or as part of a group</li>
      <li>understand how they’re behaving towards you, and</li>
      <li>behave appropriately towards them</li>
    </ul>

    <p>It includes both people you know well and people you don’t know.</p>

    <a href="/v1/mixing-with-other-people/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
