{% set pageTitle = "Upload a file" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
{% include "p5/_beta-banner.html" %}

    {{ govukBackLink({
      text: "Back",
      href: "file-upload-help"
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if getData.delete == "true" %}
        <div class="moj-banner moj-banner--success">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>File named {{ data['supporting-evidence-file-1'] }} has been deleted</div>
        </div>{# /moj-banner #}
      {% endif %}

      {% if cya == "true" %}
        <form action="/p5/supporting-evidence/uploading-supporting-evidence-1-cya" method="post" novalidate>
      {% else %}
        <form action="/p5/supporting-evidence/uploading-supporting-evidence-1" method="post" novalidate>
      {% endif %}

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#supporting-evidence-file-1">The file cannot be uploaded because it is password protected.</a>
            </li>
          </ul>
        </div>
      </div>  
      
      
      
      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload a file
            </h1>
          </legend>

          <p>File types accepted are Word, PDF, JPG and PNG.</p>

          <p>Each file must be smaller than 10MB.</p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help if your files are too big
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>If a file is bigger than 10MB, reduce the file size if you can and try again.</p>
            <!-- <p>If the combined size of more than one file is bigger than 10MB, try sending fewer files. Use the service again to send any remaining files.</p> -->
              <p>If you still cannot upload and send your files you can post the information instead. Only send photocopies by post. Call 0800 121 4433 (Textphone: 0800 121 4433) if you do not know the freepost address to send them to.</p>
            </div>
          </details>

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="supporting-evidence-file-1">
              Upload a file
            </label>
            <span id="supporting-evidence-file-1-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The file cannot be uploaded because it is password protected.
            </span>
            <input class="govuk-file-upload" id="supporting-evidence-file-1" name="supporting-evidence-file-1" type="file">
          </div>
        </fieldset>
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" >
          Continue
        </button>
      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
