{% set pageTitle = "Check your answers: talking and listening" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="/p3/list">

      <h1 class="govuk-heading-l">Check your answers: talking and listening</h1>

      {% if data['talkingandlistening-question'] === 'Yes' %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you talking and listening?"
              },
              value: {
                text: data['talkingandlistening-question']
              },
              actions: {
                items: [
                  {
                    href: "/p3/talking-and-listening/",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Difficulties you have with talking and listening and how you manage them"
              },
              value: {
                html: data['talkingandlistening-details']
              },
              actions: {
                items: [
                  {
                    href: "/p3/talking-and-listening/details",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

      {% else %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you preparing food, or ever prevent you from doing so?"
              },
              value: {
                text: data['talkingandlistening-question']
              },
              actions: {
                items: [
                  {
                    href: "/p3/talking-and-listening/",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
        
      {% endif %}

      <a href="/p3/list?talkingandlistening=completed" class="govuk-button">Confirm and save</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
