{% extends "layout-p1.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "p1/_beta-banner.html" %}
  {% include "p1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/p1/dressing-and-undressing/extra" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "help",
          name: "question",
          fieldset: {
            legend: {
              text: "Do you need help from another person to dress or undress?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">By this we mean:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do they physically help you?</li>
              <li>do they select your clothes?</li>
              <li>do they tell you when to dress and undress?</li>
              <li>do they tell you when to change into clean clothes?</li>
            </ul>
            <p>This includes help you have and help you need but don’t get.</p>
            '
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "sometimes",
              text: "Sometimes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "p1/dressing-and-undressing/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

