{% set status = "signed-out" %}
{% set pageTitle = "Accessibility" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p4/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement for Apply for Personal Independence Payment
      </h1>

        <p>This accessibility statement is for the Apply for Personal Independence Payment (PIP) service, available at <a href="https://www.apply-for-pip.dwp.gov.uk/">https://www.apply-for-pip.dwp.gov.uk/</a></p>

      <h2 class="govuk-heading-m">Using this service</h2>

        <p>This service is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</<li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader</li>
          </ul>

        <p>We have also made the text in the service as simple as possible to understand.</p>

        <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

        <h2 class="govuk-heading-m">How accessible this service is</h2>

          <p>The service is using common styles, patterns and components from the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a> which are widely regarded as accessible.</p>

          <p>Some people may find parts of this service difficult to use.</p>


          <p>Headings are sometimes not read out in JAWS versions 18 and 19 and ZoomText. This is a known issue with Freedom Scientific software. Read more about the issue with headings on <a href="https://github.com/FreedomScientific/VFO-standards-support/issues/100/">GitHub</a>.</p>

          <p>Some reading zones might be missed when using ZoomText. This is most likely to happen in the ‘Check your answers’ sections, particularly where content is placed on the right-hand side of the page.</p>

          <p>Some Read and Write software users have reported that the Play button can sometimes skip some content. Read and Write users might therefore find that the screenshot reader function, which allows users to select the content they want to read, works better than the play button.</p>

        <h2 class="govuk-heading-m">Requesting information in a different format</h2>

         <p>Contact us if you need information on this website in a different format like large print, easy read, audio recording or braille.</p>

         <p>We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.</p>

         <p>Find out <a href="https://www.gov.uk/disability-benefits-helpline">how to contact us</a>.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>

          <p>We are always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we're not meeting accessibility requirements, contact us by email: [email address?] </p>


        <h2 class="govuk-heading-m">Enforcement procedure</h2>

          <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you are not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>


        <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>

          <p>The Department for Work and Pensions is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

          <p>This service is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>

        <h2 class="govuk-heading-m">How we tested this service</h2>

          <p>The service was last tested on 3 September 2020 and was checked for compliance with WCAG 2.1 AA. The tests were carried out by the Department for Work and Pensions.</p>

          <p>The service was tested using both automated and manual testing.</p>

        <h2 class="govuk-heading-m">What we are doing to improve accessibility</h2>

         <p>We conducted manual testing of the service using assistive technologies such as JAWS and Dragon. This has identified issues, mentioned in the ‘How accessible this service is’ section above, that we are working to fix.</p>

         <p>We will continue to iterate the design of the service to fix issues we are aware of. For example, we are looking into alternative solutions to Javascript for adding multiple health conditions and health professionals.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

          <p>This statement was prepared on 6 October 2020. It was last reviewed on 6 October 2020.</p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
