{% set status = "signed-out" %}
{% set pageTitle = "Privacy" %}

{% extends "layout-p4-ni.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p4-ni/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p4-ni/_beta-banner.html" %}
  {% include "p4-ni/_back-link-list.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Privacy notice for the Department for Communities (DfC) – Work and Inclusion Group
      </h1>

      <h2 class="govuk-heading-m">Why are you processing my personal information?</h2>

        <p>The information is processed for:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the payment of social security benefits, grants loans and pensions</<li>
            <li>child maintenance</li>
            <li>the allocation of National Insurance numbers</li>
            <li>employment and training</li>
            <li>social security research and statistics</li>
          </ul>

        <p>DfC also uses information to prevent and detect fraud, and to protect public funds.</p>

        <p>The information we collect about you depends on the reason for your business with us, but we may use the information for any of these purposes.</p>

        <p>The lawful basis for processing is set down in legislation and deemed to be in the public interest.</p>

        <p>We may not be able to provide you with a product or deliver the services you request unless we have enough information to process that request.</p>

      <h2 class="govuk-heading-m">What categories of personal data are you processing?</h2>

        <p>The kinds of data that DfC processes about people will depend on the contact that DfC has with them. An easy way to see what kind of information DfC processes for a particular benefit is to look at the claim form for that benefit.</p>

        <p>Categories of information processed include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>personal details</li>
          <li>family details</li>
          <li>financial details</li>
          <li>employement and education details</li>
          <li>education and training details</li>
          <li>visual images</li>
        </ul>

        <p>DfC also process sensitive information that may include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>physical or mental health details</li>
            <li>race and ethnicity</li>
            <li>offences including alleged offences</li>
            <li>criminal proceedings, outcomes and sentences</li>
          </ul>

      <h2 class="govuk-heading-m">Where do you get my personal data from?</h2>

        <p>Apart from you, we may get personal information about you from other NI and UK government departments.</p>

        <p>To help detect and prevent fraud, we may also receive personal information in the form of data matches from the Comptroller and Auditor General as a result of the <a href="https://www.niauditoffice.gov.uk/national-fraud-initative/">National Fraud Initiative</a>.</p>

      <h2 class="govuk-heading-m">Do you share my personal data with anyone else?</h2>

        <p>For benefit processing and preparation for work purposes we may share your personal data with:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>other NI and UK government departments
            <li>other public bodies</li>
            <li>third party providers</li>
            <li>employment agencies</li>
            <li>Northern Ireland Federation of Housing Associations</li>
            <li>landlords</li>
            <li>others acting on your behalf</li>
          </ul>

        <p>For the prevention and detection of crime purposes we may share your information with:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>other NI and UK government departments</li>
            <li>councils</li>
            <li>criminal justice partners</li>
            <li>employers</li>
            <li>private sector bodies, such as banks and organisations that may lend you money</li>
            <li>credit reference agencies</li>
          </ul>

        <p>We share information for a number of reasons, including:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>checking the accuracy of information</li>
            <li>helping people with particular difficulties, such as troubled families</li>
            <li>helping people get or stay in work</li>
            <li>child maintenance</li>
            <li>helping people get education and training to improve their chances of getting work</li>
            <li>Supporting people with independent living</li>
            <li>preventing or detecting crime</li>
            <li>checking payments for services</li>
            <li>protecting public funds</li>
            <li>processing Legal Aid assessments</li>
            <li>research or statistical purposes</li>
          </ul>

        <p>We will only ever give information about you to someone outside DfC if the law allows us to.</p>

      <h2 class="govuk-heading-m">Do you transfer my personal data to other countries?</h2>

        <p>All the personal data we use is processed by our staff in the United Kingdom.</p>

        <p>Sometimes it may be necessary to transfer personal information overseas for the purposes of the prevention and detection of crime, within Europe, Australia and United States of America. Any transfers made will be in full compliance with all aspects of the Guide to the General Data Protection Regulation (GDPR).</p>

      <h2 class="govuk-heading-m">How long do you keep my personal data?</h2>

      <p>We will only retain your data for as long as necessary to process and in line with our <a href="https://www.communities-ni.gov.uk/publications/dfc-disposal-records-schedule">Retention and Disposal Schedule</a>.</p>

      <p>DfC holds a lot of different kinds of information for a variety of different reasons, but we always try and keep only what we need for no longer than we need it.</p>

      <h2 class="govuk-heading-m">How do you use my personal data to make decisions about me?</h2>

      <p>We sometimes use automated decision making. However, all decisions that affect you, for example, whether or not you are entitled to a benefit, can be reviewed or appealed, even if the decisions are made automatically.</p>

      <p>Any ‘automated decisions’ for a particular benefit will just apply the entitlement rules for that benefit and will usually involve some input by DfC staff as well.</p>

      <p>DfC are continually developing new digital services, these use information more effectively to deliver our services.</p>

      <h2 class="govuk-heading-m">What rights do I have?</h2>

      <p>You have the right to obtain confirmation that your data is being processed, and access to your personal data</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>You have the right to obtain confirmation that your data is being <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">processed, and access to your personal data</a></li>
        <li>You are entitled to have personal data <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-rectification/">rectified if it is inaccurate or incomplete</a></li>
        <li>You have a right to have personal data erased and to prevent processing, <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/"> in specific circumstances</a> in specific circumstances</li>
        <li>You have the right to ‘block’ or suppress processing of personal data, <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-restrict-processing/"> in specific circumstances</a></li>
        <li>You have the right to data portability, <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-data-portability/"> in specific circumstances</a></li>
        <li>You have the right to object to the processing, <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-object/"> in specific circumstances</a></li>
        <li>You have rights in relation to <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/rights-related-to-automated-decision-making-including-profiling/"> automated decision making and profiling</a></li>
      </ul>

      <h2 class="govuk-heading-m">Data controller information</h2>

      <p>The Department for Communities is the data controller.</p>

      <p>You can contact the data controller by post at:</p>

        <p><abbr title="Contact">Department for Communities</abbr><br>
        Causeway Exchange<br>
        1&ndash;7 Bedford Street<br>
        Belfast<br>
        County Antrim<br>
        BT2 7EG<br>

      <p>Or by phone or email:</p>
      <p>Telephone: 028 90 829201<br>
      Email: <a href="mailto:DPO@communities-ni.gov.uk">DPO@communities-ni.gov.uk</a></p>

      <h2 class="govuk-heading-m">DfC's Data Protection Officer</h2>

      <p>The DfCs Data Protection Officer is Karen McMullen. You can contact the Data Protection Officer by phone or email:</p>

        <p><strong><abbr title="Contact">Karen McMullan</abbr></strong><br>
        Telephone: 028 90 829200<br>
        Email: <a href="mailto:DPO@communities-ni.gov.uk">DPO@communities-ni.gov.uk</a>



      <h2 class="govuk-heading-m">How do I complain if I am not happy?</h2>

        <p>If you are unhappy with any aspect of this privacy notice, or how your personal information is being processed, contact the Department's Data Protection Officer at: <a href="mailto:DPO@communities-ni.gov.uk">DPO@communities-ni.gov.uk</a></p>

        <p>If you are still not happy, you have the right to lodge a complaint with the Commissioner’s Office (ICO):</p>

        <p><strong><abbr title="Contact">Information Commissioner’s Office</abbr></strong><br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF<br>
            Telephone: 0303 123 1113<br>
            Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
            <a href="https://ico.org.uk/global/contact-us/">https://ico.org.uk/global/contact-us/</a></p>

        <p>This privacy notice was last updated in October 2019.</p>


    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
