{% set pageTitle = "Tell us about the difficulties you have with preparing food and how you manage them" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5/preparing-food/check" method="post" novalidate>

      {{ govukTextarea({
        name: "preparingfood-details",
        id: "preparingfood-details",
        rows: "18",
        value: data['preparingfood-details'],
        label: {
          text: "Tell us about the difficulties you have with preparing food and how you manage them",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          html: '
          <p>For each difficulty, please tell us:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how often you have this difficulty – tell us about both good and bad days</li>
            <li>what the difficulty is</li>

            <li>why you have it, or how it relates to your condition</li>
            <li>any aids or adaptations you use, or help you get from another person</li>
            <li>any help you feel you need but do not get</li>
          </ul>
          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Examples</h2>
            <p>“About twice a year, for about 3 weeks at a time I have difficulty remembering to turn the hob off because I get too distracted to complete tasks like this. My partner supervises me in the kitchen to make sure I stay safe.”</p>
            <p>“Every day, I have difficulty standing while preparing food because my leg is too stiff and painful. I need to use a perching stool so I can rest my leg while preparing food."</p>
          </div>
        '
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "p5/preparing-food/_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
