{% extends "layout_unbranded.html" %}

{% set pageTitle = "Email" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full
    ">
      <p style="font-size: 16px">Subject:<br>Your 4-digit code – 7964 – Apply for Personal Independence Payment (PIP)</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h1 class="govuk-heading-m">Your 4-digit code – Apply for Personal Independence Payment (PIP)</h1>

      <p>Here is the code you’ll need to access your application.</p>

      <p class="govuk-body-l"><strong>7964</strong></p>

      <p>This code is valid until XXXX at XX:XX</p>

      <p>Go to <a href="#">https://apply-for-pip-health.dwp.gov.uk/enter-code</a> to enter your postcode, and your 4-digit code.</p>

      <p>Your application is not yet submitted.</p>

      <p>If your 4-digit code expires, you can request another by entering your email address at <a href="#">https://apply-for-pip-health.dwp.gov.uk/return-to-application</a>.</p>

      <p>Please do not reply to this email – this inbox is not monitored.</p>

      <p>Thanks,</p>

      <p>Personal Independence Payment Service</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}