{% extends "layout-p4.html" %}

{% set pageTitle = "Declaration" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p4/_beta-banner.html" %}
  {% include "p4/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Sorry, there is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>

            </li>
            <li>
              <p>Your information could not be sent.</p>
              <p>Try again.</p>
            </li>
          </ul>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If there is still a problem
              </span>
            </summary>
            <div class="govuk-details__text">

              <p>Sign out and try again later. You will need to upload any supporting evidence documents you have after you sign in again.</p>

              <p>If you need help, contact:</p>

              <p><strong><abbr title="Personal Independence Payment">PIP</abbr> enquiry line</strong><br>
              Telephone: 0800 121 4433<br>
              Textphone: 0800 121 4493<br>
              <a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433<br>
              <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
              Available Monday to Friday, 8am to 5pm. <br>
              <!-- Closed on public holidays.<br> -->

              <a href="/call-charges">Find out about call charges</a></p>
              
            </div>
          </details>
        </div>
      </div>

      <h1 class="govuk-heading-l">Declaration</h1>

      <p>The information I have given on this form is correct and complete.</p>

      <p>I have provided the best information available to me at this time to support my claim.</p>

      <p>I will tell the Department for Work and Pensions straightaway, by phone or in writing, of any changes that may affect my claim. </p>

      <p>If my ability to carry out day-to-day activities or get around improves or gets worse, the amount of Personal Independence Payment (PIP) I get might change.</p>

      <p>If the information I give you is wrong or incomplete, or I do not report changes straightaway:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>my PIP payments might stop or reduce</li>
        <li>I might be paid too much PIP and have to pay this back</li>
        <li>I might have to pay a financial penalty</li>
        <li>I might be prosecuted
      </li>

      </ul>

      <a href="/p4/apply/confirmation" class="govuk-button">I agree – send my information</a>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
