{% set pageTitle = "Extra information – reading" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
  {% include "p3/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p3/reading/check" method="post" novalidate>

      <h1 class="govuk-heading-l">Extra information – reading</h1>

      <p>Tell us more about any difficulties you have when reading and understanding signs, symbols and written words:</p>

      <ul class='govuk-list govuk-list--bullet'>
        <li>tell us how your condition affects you doing this activity</li>
        <li>tell us how you manage at the moment and the problems you have when you can’t do this activity</li>
        <li>tell us how long it takes you to complete this activity</li>
        <li>does whether you can do this vary throughout the day? Tell us about good and bad days</li>
        <li>do your difficulties depend on how complicated the signs, symbols and words are, or how big they are?</li>
        <li>do you experience other difficulties, either during or after the activity, like pain, breathlessness or tiredness?</li>
        <li>tell us about the aids or appliances you need to help you read</li>
        <li>tell us about the help you need from another person when reading. This includes help you have and help you need but don’t get</li>
      </ul>

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        rows: "18",
        
        label: {
          text: "Extra information on reading (optional)",
          classes: "govuk-label--m"
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "p3/reading/_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}


