{% extends "layout-p5.html" %}

{% set pageTitle = "Check your uploaded files" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
{% include "p5/_beta-banner.html" %}

  {% if cya == "true" %}
    {{ govukBackLink({
      text: "Back",
      href: "check"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back",
      href: "index?uploaded=2"
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if getData.delete == "true" %}
        <div class="moj-banner moj-banner--success">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>File named {{ data['supporting-evidence-file-3'] }} has been deleted</div>
        </div>{# /moj-banner #}
      {% endif %}

      {% if cya == "true" %}
        <form action="supporting-evidence-uploaded-2-data-cya" method="post" novalidate>
      {% else %}
        <form action="supporting-evidence-uploaded-2-data" method="post" novalidate>
      {% endif %}

        <h1 class="govuk-heading-l">Your uploaded files</h1>

        <h2 class="govuk-heading-m">Files added</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              File 1
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="/">{{ data['supporting-evidence-file-1'] }}</a>, 2MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="#">
                Delete<span class="govuk-visually-hidden"> file 1</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              File 2
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="/">{{ data['supporting-evidence-file-2'] }}</a>, 5MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="supporting-evidence-uploaded-1?delete=true">
                Delete<span class="govuk-visually-hidden"> file 2</span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to upload another piece of evidence?
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="question" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="question" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>

          </fieldset>
        </div>{# /govuk-form-group #}

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm
        </button>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
