{% set pageTitle = "Check your uploaded files" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
{% include "p5/_beta-banner.html" %}

  {% if cya == "true" %}
    {{ govukBackLink({
      text: "Back",
      href: "/p5/supporting-evidence/check"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back",
      href: "/p5/supporting-evidence/index?uploaded=1"
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form action="supporting-evidence-upload-2" method="post" novalidate>


      {% if getData.delete == "true" %}
        <div class="moj-banner moj-banner--success">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>File named {{ data['supporting-evidence-file-2'] }} has been deleted</div>
        </div>{# /moj-banner #}
      {% endif %}

        <h1 class="govuk-heading-l">Your uploaded files</h1>

        <h2 class="govuk-heading-m">Files added</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              File 1
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="/">{{ data['supporting-evidence-file-1'] }}</a>, 2MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="coming-back/supporting-evidence-upload-1?delete=true">
                Delete<span class="govuk-visually-hidden"> file 1</span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to upload another piece of evidence?
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="question" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="question" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>

          </fieldset>
        </div>{# /govuk-form-group #}

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
        </button>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $(document).on('ready',function()
    {
      // target the #form element
      // attached an event listener that runs
      // a function when the form is submitted
      $('#form').on('submit', function(e)
      {
        // depending on the value="" of the <input>
        // that's been checked, change the action=""
        // of the <form> and then allow it to submit.
      	switch($('input[name="question"]:checked').val())
        {
      		case 'yes':
      	    $('#form').attr('action','supporting-evidence-upload-2');
      		  break;
          case 'no':
      	    $('#form').attr('action','confirmation-returning');
        }
        // if nothing is ticked submit the form to error screen.
        // returning 'true' allows the form to submit
        // after we're finished with the above.
        return true;
      });
    });
  </script>

{% endblock %}
