{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Create your account
{% endblock %}
  {% block beforeContent %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="your-dashboard" method="post" class="form">
      <span class="govuk-caption-l">Create an account</span>
        <h1 class="govuk-heading-l">
          Sign in details
        </h1>
        <div class="govuk-form-group">
          <p>Enter the email address you want your account to be linked to. This email address will be used to verify your account.</p>
          <label class="govuk-label" for="email">
            Email
          </label>
          <input class="govuk-input govuk-!-width-full-width" id="email" name="email" type="text" autocomplete="email"></input>
        </div>

        <div>
          <label class="govuk-label" for="email">
            Retype email
          </label>
          <input class="govuk-input govuk-!-width-full-width" id="retype-email" name="email" type="text" autocomplete="email"></input>
        </div>
<br>
          <div class="govuk-form-group">
            <h3 class="govuk-heading-s">Create a password</h3>
            <p class="govuk-body">Your password is case-sensitive and needs to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>be at least 12 characters long</li>
              <li>contain at least 1 capital letter</li>
              <li>contain at least 1 number</li>
              <li>contain at least 1 special character</li>
            </ul>
            <p>Your password can include spaces to make a phrase.</p>
            <label class="govuk-label" for="password">
              Password
            </label>
              <input class="govuk-input govuk-!-width-two-thirds" type="password" name="password" id="id_password" autocomplete="current-password"></input>
              <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="password">
                Retype password
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" type="password" name="password" id="id_password-2" autocomplete="current-password"</input>
              <i class="far fa-eye" id="togglePassword2" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <p>Read the terms and conditions <a href="">here</a> (opens in a new window).</p>

            <div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        I have read and agree to the terms and conditions
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        I have the authority to create this account on the behalf of my organisation
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

      <div class="govuk-button-group">
        <a href="verify-your-account" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Create account
        </a>
      </div>
    </form>

    <script>
      const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
          // toggle the type attribute
          const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
          password.setAttribute('type', type);
          // toggle the eye slash icon
          this.classList.toggle('fa-eye-slash');
      });
    </script>
    <script>
      const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('#id_password-2');

        togglePassword2.addEventListener('click', function (e) {
          // toggle the type attribute
          const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
          password2.setAttribute('type', type);
          // toggle the eye slash icon
          this.classList.toggle('fa-eye-slash');
      });
    </script>



  </div>
</div>

  {# the class reguired="" when added to an input field will display an error message when form is submitted.#}
  {% endblock %}
