{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Enter your organisation's details
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirm-your-organisation-details" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Create an account</span>
            <h1 class="govuk-heading-l">
              Enter your organisation's details
            </h1>
            <p class="govuk-body">This page is only for organisations that cannot be registered on Companies House, for example:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>charities</li>
              <li>local authorities</li>
              <li>NGOs</li>
              <li>partnerships</li>
              <li>sole traders</li>
              <li>trusts</li>
            </ul>
            <p>Please make sure you enter your organisation's details correctly. Any errors you make will slow down the application process, which could delay your funding payments.</p>
          </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" for="organisation-name">
                Organisation name
              </label>
              <input class="govuk-input govuk-input--width-30" id="organisation-name" name="organisation-name" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="organisation-number">
                Organisation number
              </label>
              <div id="org-number" class="govuk-hint">
                Enter your organisation's unique identification number, such as your HMRC Unique Taxpayer Reference (UTR), UK charity number or other unique reference number.
              </div>
              <input class="govuk-input govuk-input--width-10" id="organisation-number" name="organisation-number" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="business-type">
                Business type
              </label>
              <input class="govuk-input govuk-input--width-10" id="business-type" name="business-type" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="executive-officers">
                Executive officers
              </label>
              <div id="org-number" class="govuk-hint">
                Enter the full name of all Executive Officers, if your organisation has any.
              </div>
            </div>
            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-30" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>
              <p class="govuk-body"><a href="#">+ Add another Executive Officer</a></p>
<br>
              <label class="govuk-label" for="address-number">
                Registered address postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-number" name="address-number" type="text">
              <a href="#" role="button" draggable="false" class="govuk-button  govuk-button--secondary" data-module="govuk-button">
                Find UK address
              </a>
                  <div>
                    <label class="govuk-label" for="sort">
                      Select an address
                    </label>
                    <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="sort">
                      <option value="address-1" selected>3 addresses found</option>
                      <option value="address-2">1 Somerset Street, Leeds</option>
                      <option value="address-3">2 Somerset Street, Leeds</option>
                      <option value="address-4">3 Somerset Street, Leeds</option>
                    </select>
                  </div>
<br>
              <p class="govuk-body"><a href="enter-organisation-details">Enter address manually</a></p>
        </fieldset>
<br>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  {% endblock %}
