{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  If your organisation is a registered company or charity, has it filed a full set of accounts within the last 12 months
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Eligibility question 5 of 5</span>
        <h1 class="govuk-fieldset__heading">
          If your organisation is a registered company or charity, has it filed a full set of accounts within the last 12 months?
        </h1>
      </legend>
      <p>These details help us to assess the financial viability of your organisation.</p>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="option1" name="option1" type="radio" value="companieshouse" data-aria-controls="conditional-contact-1">
          <label class="govuk-label govuk-radios__label" for="option1">
            Yes
          </label>
        </div>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="option2" name="option2" type="radio" value="charity" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="option2">
              No
            </label>
          </div>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="option3" name="option3" type="radio" value="notregistered" data-aria-controls="conditional-contact-5">
            <label class="govuk-label govuk-radios__label" for="option2">
                Non-registered public body
            </label>
          </div>
    </fieldset>
<br>
        <div>
          <button class="govuk-button" data-module="govuk-button" type="button" onclick="display()">Continue</button>
        </div>
  </form>
</div>
</div>

  <script>
    function display() {
      if(document.getElementById('option1').checked) {
          location.replace('/version-4/you-are-eligible-to-apply-as-a-lead-applicant')
      }
      else if(document.getElementById('option2').checked) {
        location.replace('/version-4/you-are-not-eligible-to-apply-as-a-lead-applicant')
      }
      else if(document.getElementById('option3').checked) {
        location.replace('/version-4/you-are-eligible-to-apply-as-a-lead-applicant')
      }
      else {
        document.getElementById("disp").innerHTML
          = "No one selected";
      }
    }
  </script>

  {% endblock %}
