{% extends "layout-account.html" %}

{% block pageTitle %}
  Lead applications
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="your-dashboard">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Lead applications
        </h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full-width">
            <div class="govuk-grid-column-full-width" style="background-color:#ffffff; border-style:solid; border-width:0px; padding:30px">
            <h3 class="govuk-heading-s"><a href="#">Strengthening employability skills for the over 50s</a></h3>
            <div class="govuk-grid-row" style="background-color:#f3f2f1; border-style:solid; border-width:1px; padding:5px">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                  <li>Ref: PE123456</li>
                  <li>Region: Glasgow</li>
                  <li>Amount: £100,000</li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <ul class="govuk-list">
                  <li>28 Days left</li>
                  <li>Deadline 16 Jan 2022</li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <ul class="govuk-list">
                  <li>Status: Not started</li>
                  <li>0% complete</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
          <div class="govuk-grid-column-full-width" style="background-color:#ffffff; border-style:solid; border-width:0px; padding:30px">
            <h3 class="govuk-heading-s"><a href="#">Digital upskilling for sustainable energy providers</a></h3>
          <div class="govuk-grid-row" style="background-color:#f3f2f1; border-style:solid; border-width:1px; padding:10px">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>Ref: PE123457</li>
                <li>Region: London</li>
                <li>Amount: £800,000</li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <ul class="govuk-list">
                <li>28 Days left</li>
                <li>Deadline 16 Jan 2022</li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <ul class="govuk-list">
                <li>Status: In progress</li>
                <li>30% complete</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>


  {% endblock %}
