{% extends "layout-no-service-name.html" %}

{% block pageTitle %}
  Password reset email
{% endblock %}
  {% block beforeContent %}
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div govuk-grid-column-two-thirds>
          <p>3 December 2021</p>
          <hr>
          <br>
          <p>Hello Richard O'Dwyer,</p>
          <p>We have received a request to change the password for your account. You can do this through the link below.</p>
          <a href="password-reset" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Reset password
          </a>
          <p>If you didn't request this, please ignore this email.</p>
          <p>Your password won't change until you access the link above and create a new one.</p>
          <ul class="govuk-list">
            <li>UK Shared Prosperity Fund (Employment)</li>
            <li>Email: <a href="#">competitions@ukspf.org</a></li>
          </ul>
        </div>
      </div>
    </div>

  {% endblock %}
