{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Password reset confirmation
{% endblock %}
  {% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="reset-password-notification" method="post" class="form">
        <span class="govuk-caption-l">UK Shared Prosperity Fund</span>
        <h1 class="govuk-heading-l">
          Password reset
        </h1>
        <p>Your password has been updated. You can now sign in with your new password.</p>
      </form>
      <a href="sign-in-ukspf"><button class="govuk-button" data-module="govuk-button">Sign in</button></a>

    </div>
  </div>

  {# the class reguired="" when added to an input field will display an error message when form is submitted.#}
  {% endblock %}
