{% extends "layout.html" %}

{% block pageTitle %}
  Reset password notification
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div>
            <span class="govuk-caption-l">UK Shared Prosperity Fund</span>
            <h1 class="govuk-heading-l">Forgotten your password?</h1>
            <p class="govuk-body">
              If your email address is recognised and valid, you’ll receive a notification with instructions about how to reset your password. If you do not receive a notification, please check your junk folder or try again.
            </p>
          </div>
        </div>
      </div>
  {% endblock %}
