{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  UKSPF competitions
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">UK Shared Prosperity competitions</h1>
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Filter competitions</h3>
      <hr>
      <div class="govuk-form-group">
        <label class="govuk-label" for="filter">
          Keywords
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected>Location</option>
          <option value="people" >People</option>
          <option value="places">Places</option>
          <option value="area">Area</option>
          <option value="grant amount">Grant amount</option>
        </select>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Update results
      </button>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s">2 competitions</h3>
      <hr>
      <h3 class="govuk-heading-s"><a href="competition/summary">PE12345 - Strengthening Employment Skills for the over 50s</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. </p>
      <h3 class="govuk-heading-s">Eligibility</h3>
      <p>Contracts will be awarded to a single legal entity only, however you can involve subcontractors in your project work. This work will still be the responsibility of the lead applicant.</p>
      <h3 class="govuk-heading-s">Open now</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p>Opened:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p>7 October 2021 at 12:00</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p>Closes:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p>21 March 2022 at 12:00</p>
        </div>
      </div>
      <hr></hr>
      <h3 class="govuk-heading-s"><a href="#">PE98765 - Support for the homeless</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. </p>
      <h3 class="govuk-heading-s">Eligibility</h3>
      <p>Contracts will be awarded to a single legal entity only, however you can involve subcontractors in your project work. This work will still be the responsibility of the lead applicant.</p>
      <h3 class="govuk-heading-s">Open now</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p>Opened:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p>1 November 2021 at 12:00</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p>Closes:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p>31 December 2022 at 12:00</p>
        </div>
      </div>
      <hr></hr>
    </div>
  </div>



  {% endblock %}
