{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Verify your account
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Create an account</span>
      <h1 class="govuk-heading-l">Verify your account</h1>
      <p>We have sent an account verifification email to me@myemailaddress.com.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">Check your email and follow the instructions. You will need to sign in to start your application. Be aware, you must also update your account details before you can submit any application.</p>
    </div>
  </div>
  {% endblock %}
