{% extends "layout-no-service-name.html" %}

{% block pageTitle %}
  Verify account
{% endblock %}
  {% block beforeContent %}
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div govuk-grid-column-two-thirds>
          <p>3 December 2021</p>
          <hr>
          <br>
          <p>Hello Richard O'Dwyer,</p>
          <p>You have recently set up an account with the UKSPF Service. We now need you to verify your account.</p>
          <a href="sign-in-ukspf" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Verify account
          </a>
          <p>Once verified you can sign into your account.</p>
          <ul class="govuk-list">
            <li>UK Shared Prosperity Fund (Employment)</li>
            <li>Email: <a href="#">competitions@ukspf.org</a></li>
          </ul>
        </div>
      </div>
    </div>

  {% endblock %}
