{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Your dashboard
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>

  </div>

  <style>
  p {
      text-align: left;
  }
  </style>
  {% endblock %}

  {% block content %}

  <h1 class="govuk-heading-l">
    Your dashboard
  </h1>
  <p>Placeholder for lead paragrapth text.</p>
<hr>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width"  style="border-style:solid; border-color:#ffffff; border-width:5px;">
      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="center">Applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">3</p>
        <a href="your-applications">view details</a>
      </div>

      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="govuk-!-text-align-centre">Lead applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">2</p>
        <a href="lead-applications">view details</a>
      </div>

      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="govuk-!-text-align-centre">Partnership applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
        <a href="partnership-applications">view details</a>
      </div>
    </div>
  </div>
<hr>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width" style="border-style:solid; border-color:#ffffff; border-width:5px;">
      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="govuk-!-text-align-centre">Total funds value</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">£100,000</p>
        <a href="#">view details</a>
      </div>

    <div class="govuk-grid-column-one-third" style="padding:10px">
      <p class="govuk-!-text-align-centre">Total funds awarded</p>
      <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">£50,000</p>
      <a href="#">view details</a>
    </div>
  </div>
</div>
<hr>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width" style="border-style:solid; border-color:#ffffff; border-width:5px;">
      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="center">Partners</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">4</p>
        <a href="your-partners">view details</a>
      </div>

      <div class="govuk-grid-column-one-third" style="padding:10px">
        <p class="center">Areas</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">2</p>
        <a href="#">view details</a>
      </div>
    </div>
  </div>
<hr>

  {% endblock %}
