{% extends "layout-p4-ni.html" %}

{% set pageTitle = "Sorry-there-is-a-problem" %}

{% block beforeContent %}
  {% include "p4-ni/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      </div>

      <h1 class="govuk-heading-l">Sorry, there is a problem</h1>

      <p>Your supporting evidence was not sent.</p>

      <p><a href="supporting-evidence-uploaded-1">Try again</a></p>

      <p>If you keep seeing this message and need to post your supporting evidence instead, contact:</p>

      <p><strong><abbr title="Personal Independence Payment">PIP</abbr> enquiry line</strong><br>
      Telephone: 0800 587 0932<br>
      Textphone: 0800 587 0937<br>
      <a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433<br>
      <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
      <a href="https://www.nidirect.gov.uk/contacts/personal-independence-payment-pip-centre">Video relay service</a> for Irish Sign Language (<abbr title="Irish Sign Language">ISL</abbr>) users<br>
      <a href="https://www.gov.uk/call-charges">Find out about call charges</a><br>

      <p>Available Monday to Friday, 9am to 5pm.<br>
      Closed public holidays.<br></p>


    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
