{% extends "layout-v2.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/washing-and-bathing/extra" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "help",
          name: "question",
          fieldset: {
            legend: {
              text: "Do you need help from another person to wash and bathe?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">By this we mean:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do they physically wash or bathe you?</li>
              <li>do they remind or encourage you to wash and bathe or how to do it?</li>
              <li>do they watch over you to make sure you are safe?</li>
            </ul>
            <p>This includes help you have and help you need but don’t get.</p>
            <p>We understand talking about your personal care needs can be difficult, but we need you to tell us as much as you can.</p>
            '
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "sometimes",
              text: "Sometimes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "v2/washing-and-bathing/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}


