{% set pageTitle = "Check your answers: preparing food" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="/v2/list">

      <h1 class="govuk-heading-l">Check your answers: preparing food</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Aid or appliance used to prepare or cook a simple meal"
            },
            value: {
              text: 'Yes'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Help from another person needed to prepare or cook a simple meal"
            },
            value: {
              text: 'Yes'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Extra information"
            },
            value: {
              html: '<p class="govuk-body">No extra information provided</p>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <a href="/v2/list?preparingfood=completed" class="govuk-button">Confirm and save</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
