{% set pageTitle = "Do you need help from another person to prepare or cook a simple meal?" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v2/preparing-food/extra" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "help",
          name: "question",
          fieldset: {
            legend: {
              text: "Do you need help from another person to prepare or cook a simple meal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">By this we mean:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do they remind or motivate you to cook, or how to do it?</li>
              <li>do they supervise you to make sure you are safe?</li>
              <li>do they physically help you?</li>
              <li>do they prepare or cook all your food for you?</li>
            </ul>
            <p>This includes help you have, and help you need but do not get.</p>
            '
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "sometimes",
              text: "Sometimes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

      {% include "v2/preparing-food/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}