{% set pageTitle = "Name and team" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
{{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/project-details/name-and-team/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Project details - Name</span>
      <h1 class="govuk-heading-l">
        What's the name of your project?
      </h1>
      <p></p>
      <div>
            <div>
              <label class="govuk-label" for="event-name">
                  Name
              </label>
              <input class="govuk-input" id="name" name="team-member" type="text" value="">
            </div>
            <p></p>
            <p></p>
      </div>
<br>
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "project-details/name-and-team/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
