{% set status = "signed-out" %}

{% set pageTitle = "A 6-digit code has been texted to XXXX XXX 789" %}

{% extends "layout-p4-ru.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p4-ru/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p4-ru/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form action="returning-user-upload-error" method="POST" novalidate>


        <h1 class="govuk-heading-l">A 6-digit code has been texted to<br>XXXX XXX 789</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="code" >Enter your 6-digit code</label>
          <input class="govuk-input govuk-input--width-5 input-capitals" id="code" name="code" maxlength="6" data-hj-suppress type="text" pattern="[0-9]*" inputmode="numeric" value="">
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}
          <p><a href="code-text-get-another">I did not get a code</a></p>
          <p><a href="code-email">Get a code by email instead</a></p>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
