{% set status = "signed-out" %}
{% set pageTitle = "Cookies" %}

{% extends "layout-p4-ru.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p4-ru/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p4-ru/_beta-banner.html" %}
  {% include "p4-ru/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How we use cookies
      </h1>

        <p>A cookie is a small file which is stored on your device for a short time to make this service work.</p>

        <p>We only use cookies that are essential for the service to work, like remembering your answers to certain questions.</p>

        <p>We will not:</p>

          <ul class="govuk-list govuk-list--bullet">

            <li>use any essential cookies until you use the service</li>
            <li>be able to identify you through using cookies</li>

          </ul>

        <p><a href="/p4-ru/info/cookies-details">Find out more about cookies on this service</a></p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
