{% set pageTitle = "What is your name?" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/p5/about-you/nino" method="post" novalidate>
        {{ govukInput({
          label: {
            text: "What is your name?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          id: "name",
          name: "name"
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

      {% include "p5/about-you/_return-link.html" %}

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
