{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/application-team/organisations/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Application team</span>
      <h1 class="govuk-heading-l">
        Organisational structure
      </h1>
      <p>Lead applicant - Inspire Training Services Ltd</p>
      <p>Organisation type - Business</p>
<h2 class="govuk-heading-m">
  Create consortium
</h2>
<p>As the lead applicant you can add a partner applicant and create a consortium. Read more about consortium applications.</p>

<div>
      <div>
        <label class="govuk-label" for="event-name">
            Partner organisation name
        </label>
        <input class="govuk-input" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
</div>
<div>
      <div>
        <label class="govuk-label" for="event-name">
            Partner organisation type
        </label>
        <input class="govuk-input govuk-input--width-20" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
</div>
<div>
      <div>
        <label class="govuk-label" for="event-name">
            Contact full name
        </label>
        <input class="govuk-input" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
</div>
<div>
      <div>
        <label class="govuk-label" for="event-name">
            Contact email
        </label>
        <input class="govuk-input" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
</div>
<div>
      <div>
        <label class="govuk-label" for="event-name">
            Contact Organisation role
        </label>
        <input class="govuk-input govuk-input--width-20" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
</div>


<br>
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "application-team/organisations/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
