{% extends "layout.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/eating-and-drinking/feeding-tube" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "aid",
          name: "question",
          fieldset: {
            legend: {
              text: "Do you need to use an aid or appliance to eat and drink?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
            <p class="govuk-!-margin-top-2">Aids and appliances include things like:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>weighted cups</li>
              <li>adapted cutlery</li>
            </ul>
            '
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "sometimes",
              text: "Sometimes"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "v1/eating-and-drinking/_return-link.html" %}
      
    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}