{% set pageTitle = "XXXXXX" %}

{% extends "layout-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "v2/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_beta-banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Managing treatments</h1>
      <p class="govuk-body-l">Tell us about whether you can monitor changes in your health condition, manage medication, or manage any treatments carried out at home.</p>

      <p>Monitoring changes in your health condition means being able to detect any changes in a condition and take necessary actions as advised by a health professional.</p>

      <p>Monitoring changes include things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>blood sugar level</li>
        <li>changes in mental state</li>
        <li>pain levels</li>
      </ul>

      <p>Managing medication means to take regular medication prescribed or advised by a doctor, nurse or pharmacist in the right way at the right time. This includes tablets, inhalers and creams.</p>

      <p>Home treatments can be NHS or private treatment and include things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>physiotherapy</li>
        <li>home dialysis</li>
      </ul>
    </div><!-- govuk-form-group -->

    <a href="/v2/managing-treatments/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
