{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Help and contacts
{% endblock %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Help and contacts</h1>

      <div class="placeholder">
        <p>We could include some of the comms products in here with contact details.</p>
      </div>

      <div class="indent-hairline">
        <p>
          <strong><abbr title="Department for Work and Pensions">DWP</abbr> - <abbr title="Personal Independence Payment">PIP</abbr> claims</strong><br>
          Telephone: 0800 121 4433<br>
          Textphone: 0800 121 4493
          <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
          <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
          Calling from abroad: +44 191 218 7766 <br>
          Monday to Friday, 9am to 5pm<br>
          <a href="/call-charges">Find out about call charges</a>
        </p>
      </div>



      <p class="govuk-body-s">
        Available weekdays 8am to 6pm.<br>Closed public holidays.
      </p>

    </div>
  </div>

{% endblock %}