{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Help and contacts
{% endblock %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Help and contacts</h1>

      <p>Maybe include some of the information from comms products in here?</p>

      <p>
        Telephone XXXX XXX XXXX<br>
        Textphone XXXX XXX XXXX
    	</p>
      <p class="govuk-body-s">
        Available weekdays 8am to 6pm.<br>Closed public holidays.
      </p>

    </div>
  </div>

{% endblock %}