{% set pageTitle = "Does your condition affect you preparing food, or ever prevent you from doing so?" %}

{% extends "layout-test.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "test/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "test/_beta-banner.html" %}
  {% include "test/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/test/preparing-food/index-answer" method="post" novalidate>

      {{ govukRadios({
        name: "preparingfood-question",
        fieldset: {
          legend: {
            text: "Does your condition affect you preparing food, or ever prevent you from doing so?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>This means making a simple, one course meal for one. This includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>peeling and chopping ingredients</li>
            <li>opening tins</li>
            <li>cooking or heating food on a standard hob</li>
          </ul>
          <p>Do consider if you can prepare food safely and without being supervised.</p>
          '
        },
        items: [
          {
            value: "No, never",
            text: "No, never",
            checked: checked("preparingfood-question", "No, never")
          },
          {
            value: "Yes",
            text: "Yes",
            checked: checked("preparingfood-question", "Yes")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "test/preparing-food/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
