{% set status = "signed-out" %}
{% set pageTitle = "Your account has been locked" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">There is already an account with this email address</h1>

      <p><a href="enter-your-details">Go back</a> and check the details to sign in.</p>


      <p>If you are sure the details are correct and have forgotten your password <br>
      you will need to <a href="forgot-password">create a new password.</a></p>


      <a href="/p5/sign-in/enter-details?scenario=locked" class="govuk-button">Continue</a>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
