{% set status = "signed-out" %}
{% set pageTitle = "Your account has been locked" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your account has been locked</h1>

      <p>To unlock your account you will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your email address</li>
        <li>your National Insurance number</li>
        <li>access to your emails and mobile phone</li>
      </ul>

      <a href="/p5/sign-in/enter-details?scenario=locked" class="govuk-button">Continue</a>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}