{% set status = "signed-out" %}
{% set pageTitle = "Sign in" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sign in</h1>

      <form action="/p5/sign-in/choose-scenario" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Enter your email address"
          },
          hint: {
            text: "This must be the same email address we sent your invitation email to."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          classes: "govuk-input--width-20",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
        label: {
          text: "Enter your password"
        },
          classes: "govuk-input--width-20",
          id: "password",
          name: "password",
          type: "password",
          attributes: {
            spellcheck: "false"
          }
        }) }}

{#         {{ govukButton({
          text: "Continue"
        }) }} #}

        {% if getData.scenario === "locked" %}
          <a href="/p5/sign-in/locked-out" class="govuk-button">Continue</a>
        {% else %}
          <a href="/p5/sign-in/code-text?scenario=active" class="govuk-button">Continue</a>
        {% endif %}

      </form>


      <p><a href="/p5/sign-in/register-start">Register now</a> if you have not used this service before.</p>
      <p><a href="/p5/sign-in/forgot-password">I forgot my password</a></p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
