{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Enter your charity registration number
{% endblock %}
  {% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="#" method="post" class="form">
        <span class="govuk-caption-m">Create account</span>
          <h1 class="govuk-heading-l">
            Enter your charity registration number
          </h1>
          <p>Enter your charity registration number. We will look for your charity's details and tell you what to do next.</p>

          <div class="govuk-form-group">
              <label class="govuk-label" for="one-third">
                Registration number
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="reg-number" name="reg-number" type="text">
          </div>
          <div>
              <button class="govuk-button" data-module="govuk-button">Look for my company details</button>
          </div>
          <h3 class="govuk-heading-s">My organisation is not registered on the Charity Commission</h3>
          <p>If you are not registered you can manually enter your details <a href="enter-your-organisation-details">here.</a></p>
      </form>
    </div>

  {# the class reguired="" when added to an input field will display an error message when form is submitted.#}
  {% endblock %}
