{% extends "layout.html" %}

{% block pageTitle %}
  Enter a breakdown of your project costs
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
          <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-form-group">
    <form action="how-much-money-are-you-applying-for" method="post" class="form">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Enter a breakdown of your project costs
        </h1>
      </legend>
      <p>
        Complete all fields. Enter zero where there is no cost.
      </p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Cost</h2>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Year 1</h2>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Year 2</h2>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Year 3</h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Staffing
          </label>
          <input class="govuk-input govuk-input--width-10" id="staffing" name="staffing-1"  value="{{ data['staffing-1'] }}"type="number" autocomplete="text">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Staffing
          </label>
          <input class="govuk-input govuk-input--width-10" id="staffing" name="staffing-1"  value="{{ data['staffing-1'] }}"type="number" autocomplete="text">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Staffing
          </label>
          <input class="govuk-input govuk-input--width-10" id="staffing" name="staffing-2"  value="{{ data['staffing-2'] }}"type="number" autocomplete="text">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Staffing
          </label>
          <input class="govuk-input govuk-input--width-10" id="staffing" name="staffing-3"  value="{{ data['staffing-3'] }}"type="number" autocomplete="text">
        </div>

        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Equipment
          </label>
          <input class="govuk-input govuk-input--width-10" id="equipment" name="equipment-1"  value="{{ data['equipment-1'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Equipment
          </label>
          <input class="govuk-input govuk-input--width-10" id="equipment" name="equipment-2"  value="{{ data['equipment-2'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Equipment
          </label>
          <input class="govuk-input govuk-input--width-10" id="equipment" name="equipment-3"  value="{{ data['equipment-3'] }}" type="number" spellcheck="false">
        </div>

        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Materials
          </label>
          <input class="govuk-input govuk-input--width-10" id="materials" name="materials-1"  value="{{ data['materials-1'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Materials
          </label>
          <input class="govuk-input govuk-input--width-10" id="materials" name="materials-2"  value="{{ data['materials-2'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Materials
          </label>
          <input class="govuk-input govuk-input--width-10" id="materials" name="materials-3"  value="{{ data['materials-3'] }}" type="number" spellcheck="false">
        </div>

        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Administration
          </label>
          <input class="govuk-input govuk-input--width-10" id="administration" name="administration-1"  value="{{ data['administration-1'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Administration
          </label>
          <input class="govuk-input govuk-input--width-10" id="administration" name="administration-2"  value="{{ data['administration-2'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Administration
          </label>
          <input class="govuk-input govuk-input--width-10" id="administration" name="administration-3"  value="{{ data['administration-3'] }}" type="number" spellcheck="false">
        </div>

        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Overheads
          </label>
          <input class="govuk-input govuk-input--width-10" id="overheads" name="overheads-1"  value="{{ data['overheads-1'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Overheads
          </label>
          <input class="govuk-input govuk-input--width-10" id="overheads" name="overheads-2"  value="{{ data['overheads-2'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Overheads
          </label>
          <input class="govuk-input govuk-input--width-10" id="overheads" name="overheads-3"  value="{{ data['overheads-3'] }}" type="number" spellcheck="false">
        </div>

        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Travel and subsidence
          </label>
          <input class="govuk-input govuk-input--width-10" id="travel-and-subsidence" name="travel-and-subsidence-1"  value="{{ data['travel-and-subsidence-1'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Travel and subsidence
          </label>
          <input class="govuk-input govuk-input--width-10" id="travel-and-subsidence" name="travel-and-subsidence-2"  value="{{ data['travel-and-subsidence-2'] }}" type="number" spellcheck="false">
        </div>
        <div class="govuk-grid-column-one-quarter govuk-form-group">
          <label class="govuk-label" for="costs">
            Travel and subsidence
          </label>
          <input class="govuk-input govuk-input--width-10" id="travel-and-subsidence" name="travel-and-subsidence-3"  value="{{ data['travel-and-subsidence-3'] }}" type="number" spellcheck="false">
        </div>

      </form>
    </div>
  <br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
    </div>


  {% endblock %}
