{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Competition
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{# ****** Language toggle - commented out
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<p></p>
    </div>
  <div class="govuk-grid-column-one-third">
    <span aria-current="true">English | </span>
    <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
    <span aria-hidden="true">Cymraeg</span>
    </a>
  </div>
</div>
#}

  {% endblock %}

  {% block content %}

<span class="govuk-caption-m">UKSPF (Employment) Competition</span>
<h1 class="govuk-heading-l">UKSPF Employment: Help with skills and training - Derbyshire</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis.</p>
<p class="govuk-body govuk-!-font-weight-bold">Competition opens: <span class="govuk-body govuk-!-font-weight-regular"> 29 December 2021</span></p>
<p class="govuk-body govuk-!-font-weight-bold">Competition closes: <span class="govuk-body govuk-!-font-weight-regular"> 28 January 2022</span></p>

<div>
  <a href="do-you-have-an-account" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Start new application
  </a>
</div>
<p>Or <a href="sign-in">sign in</a> to continue an existing application</p>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#summary">
          Summary
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#eligibility">
          Eligibility
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#scope">
          Scope
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#dates">
          Dates
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#how-to-apply">
          How to apply
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#supporting-information">
          Supporting information
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="summary">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-!-width-one-third"></th>
            <th scope="col" class="govuk-!-width-two-thirds"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Description</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.</p>
              <p class="govuk-body">
                <a class="govuk-link" href="#">This is a link</a>
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Project size</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="eligibility">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-!-width-one-third"></th>
            <th scope="col" class="govuk-!-width-two-thirds"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Who can apply</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis. Fusce lacus lorem, iaculis non lectus ut, sagittis commodo velit. Nulla venenatis eu nisl sed euismod. Sed interdum lobortis lectus, sit amet aliquam tortor gravida eget.
Nulla nec sem nunc. Duis sed congue lacus, ut mollis ligula. Cras tempus nisl eget eros facilisis, ut vestibulum nunc molestie. Nunc a ligula pharetra, pulvinar nisi eget, varius risus. Curabitur sit amet molestie augue. Nullam et quam diam.</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Eligibility overview</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Funding</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.              </p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="scope">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-!-width-one-third"></th>
            <th scope="col" class="govuk-!-width-two-thirds"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Your proposal</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis. Fusce lacus lorem, iaculis non lectus ut, sagittis commodo velit. Nulla venenatis eu nisl sed euismod. Sed interdum lobortis lectus, sit amet aliquam tortor gravida eget. Nulla nec sem nunc. Duis sed congue lacus, ut mollis ligula. Cras tempus nisl eget eros facilisis, ut vestibulum nunc molestie. Nunc a ligula pharetra, pulvinar nisi eget, varius risus. Curabitur sit amet molestie augue. Nullam et quam diam.</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Specific themes</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.</p>
              <p class="govuk-body">Fusce lacus lorem, iaculis non lectus ut, sagittis commodo velit. </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Research categories</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <ul class="govuk-list">
                <li>Category 1</li>
                <li>Category 2</li>
                <li>Category 3</li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">Projects we will not fund</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec sem nunc. Duis sed congue lacus, ut mollis ligula. Cras tempus nisl eget eros facilisis, ut vestibulum nunc molestie. Nunc a ligula pharetra, pulvinar nisi eget, varius risus. </p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dates">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-!-width-one-third"></th>
            <th scope="col" class="govuk-!-width-two-thirds"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">29 December 2021</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Competition opens</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">28 January 2021</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Competition closes</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">27 February 2021</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Applicants notified</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><h3 class="govuk-heading-s">01 May 2021</h3></td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Contracts awarded</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="how-to-apply">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-!-width-one-third"></th>
              <th scope="col" class="govuk-!-width-two-thirds"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">Before you start</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">What happens next</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">What we will ask you</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">Project details</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">Application questions</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><h3 class="govuk-heading-s">Finances</h3></td>
              <td class="govuk-table__cell">
                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus.</p>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="supporting-information">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-!-width-one-third"></th>
                <th scope="col" class="govuk-!-width-two-thirds"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><h3 class="govuk-heading-s">Background and further information</h3></td>
                <td class="govuk-table__cell">
                  <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique <a class="govuk-link" href="#">This is a link</a> Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis. Fusce lacus lorem, iaculis non lectus ut, sagittis commodo velit. Nulla venenatis eu nisl sed euismod. Sed interdum lobortis lectus, sit amet aliquam tortor gravida eget.
    Nulla nec sem nunc. Duis sed congue lacus, ut mollis ligula. Cras tempus nisl eget eros facilisis, ut vestibulum nunc molestie. Nunc a ligula pharetra, pulvinar nisi eget, varius risus. Curabitur sit amet molestie augue. Nullam et quam diam.</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><h3 class="govuk-heading-s">Further help and information</h3></td>
                <td class="govuk-table__cell">
                  <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae commodo arcu, at tristique ex. Maecenas egestas condimentum ex id mattis. Nulla felis metus, vehicula non cursus cursus, laoreet non sapien. Duis pharetra nibh tellus, ut euismod lorem pretium eu. Cras ac sodales tellus. Vivamus ullamcorper dolor turpis.</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><h3 class="govuk-heading-s">Contact us</h3></td>
                <td class="govuk-table__cell">
                  <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul class="govuk-list">
                    <li>Telephone: 020 7946 0101</li>
                    <li>Textphone: 020 7946 0102</li>
                    <li>Monday to Friday, 8am to 6pm</li>
                    <li>Saturday and Sunday, 10am to 4pm</li>
                    <li class="govuk-!-margin-top-5">Welsh language: 020 7946 0103</li>
                    <li>Monday to Friday, 8:30am to 5pm</li>
                  </ul>
                  <p class="govuk-body">
                    <a class="govuk-link" href="#">This is a link</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  {% endblock %}
