{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Sign-in
{% endblock %}
  {% block beforeContent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="your-dashboard" method="post" class="form">
      <span class="govuk-caption-m">UK Shared Prosperity Fund account</span>
        <h1 class="govuk-heading-l">
          Sign in
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text" autocomplete="email"></div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" type="password" name="password" autocomplete="current-password" id="id_password"</input>
          <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
        </div>
        <div>
          <p><a href="">Forgotten your password?</a></p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I don't have an Innovation Funding Service account
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Create a UKSPF account by visiting our <a href="ukspf-competitions">competitions listings page.</a></p>
            </div>
          </details>
      </form>
      <button class="govuk-button" data-module="govuk-button">Sign in</button>

      <script>
        const togglePassword = document.querySelector('#togglePassword');
          const password = document.querySelector('#id_password');

          togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
      </script>
    </div>
  </div>

  {# the class reguired="" when added to an input field will display an error message when form is submitted.#}
  {% endblock %}
