{% extends "layout-p5.html" %}

{% set pageTitle = "Additional information" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5/additional-information/check" method="post" novalidate>

      {{ govukTextarea({
        name: "additionalinformation-details",
        id: "additionalinformation-details",
        rows: "18",
        value: data['additionalinformation-details'],
        label: {
          text: "Additional information",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          html: '
          <p>Tell us anything else you think we should know about how your health condition or disability affects you, that you have not mentioned already.</p>
          '
        }
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Save and continue'
        }) }}
      </div>

    </form>

    {% include "p5/additional-information/_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
