{% extends "layout-v1.html" %}

{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
  {% include "v1/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="declaration">

      <h1 class="govuk-heading-l">Check your answers: about you</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <a href="../list?aboutyou=completed" class="govuk-button">Confirm and continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
