{% set pageTitle = "Page title" %}

{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h3 class="moj-side-navigation__title">Competition details</h3>
      <ul class="moj-side-navigation__list">

        <li class="moj-side-navigation__item">
          <a href="/scratchpad/summary">Summary</a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="/scratchpad/eligibility" aria-current="location">Eligibility</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/scratchpad/scope">Scope</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/scratchpad/dates">Dates</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/scratchpad/how-to-apply">How to apply</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/scratchpad/supporting-information">Supporting information</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <br>
    <h1 class="govuk-heading-m">Strengthening employment skills for the over-50s</h1>
    <h2  class="govuk-heading-s">Who can apply</h2>
    <p>Only lead applicants can create an account and start new applications.</p>
    <p>Lead applicants are organisations that can:</p>
    <p class="govuk-body">You can buy:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>meet all of the needs listed in the summary tab</li>
      <li>have a UK bank account or building society account. This includes international organisations</li>
      <li>can deliver their UKSPF project in the UK</li>
      <li>are a registered company, charity or a non-registered public body</li>
      <li>are an active organisations that have filed a complete set of accounts within the last tax year</li>
    </ul>
    <p>UKSPF will run due diligence check against all organisations that create an account. Organisations cannot submit their applications until they have updated their account and received a notification from UKSPF that they are a viable candidate.</p>
    <p>Lead applicants should factor in a delay of 48 hours, while their organisation is validated before they can submit a complete application.</p>
    <p>If a lead applicant cannot meet ALL of the needs listed in  the competition's summary tab, they can invite an organisation to join their application as a partner applicant.</p>
    <p>In a consortium, the lead applicant is completely responsible for the project delivery, success and financial management of the grant funding.</p>
    <h2  class="govuk-heading-s">Funding rules</h2>
    <p>As a lead applicant, you cannot accept or use funding from any other sources if your application is successful with the UK Shared Prosperity Fund. This includes funding you might win after your project has started.</p>
  </div>

</div>

{% endblock %}
