{% extends "layout_master.html" %}

{% block pageTitle %}
  Reference screens to support JIRA stories &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="index" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Reference screens to support JIRA&nbsp;stories</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>To follow&hellip;</p>

  </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-column-one-third -->

{% endblock %}