

{% extends "layout.html" %}

{% block pageTitle %}
  Designs for a strategic PIP solution
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="0; URL='/v1/start'" />

{# <h1 class="govuk-heading-l">Designs an online PIP2 form (strategic solution)</h1>

<div class="card">
	<div class="card-head">
	  <h2 class="govuk-heading-m govuk-!-margin-0">Claimant-facing screens</h2>
	</div>
	<div class="card-body">
	  <h4 class="govuk-heading-s">Happy path</h4>
	  <ul class="govuk-list govuk-list--bullet">
	    <li><a href="/v1/start/index">Start and sign in</a></li>
	    <li><a href="/v1/list">Application form</a></li>
	  </ul>
	</div>
</div> #}

{% endblock %}