{% extends "layout_master.html" %}

{% block pageTitle %}
  Rough prototypes and exploration &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="index" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Rough prototypes and exploration-test</h1>

      <h2 class="govuk-heading-m">Version 1</h2>

      <a href="/p1/sign-in" class="govuk-button">View prototype version 1</a>

      <p><a href="https://confluence.service.dwpcloud.uk/display/HPDU/011+-+User+research+on+the+tactical+PDF+form+and+HTML+form">Findings from user research</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 2</h2>

      <a href="/p2/sign-in" class="govuk-button">View prototype version 2</a>

      <p>Not tested.</p>

      <p><a href="/p2">Full list of screens</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 3 (new question set)</h2>

      <p><a href="/public/pdfs/proposed-digital-content.pdf" download>Proposed digital content (PDF)</a></p>

      <a href="/p3/sign-in/intro-question" class="govuk-button">View prototype version 3</a>

      <p><a href="/p3">Full list of screens</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 4 (MVP)</h2>

      <a href="/p4/sign-in/intro-question" class="govuk-button">View prototype version 4 (MVP)</a>

      <p><a href="/p4">Full list of screens</a></p>

      <h2 class="govuk-heading-m">Version 4: Northern Ireland (MVP)</h2>

      <a href="/p4-ni/sign-in/intro-question" class="govuk-button">View prototype version 4: Northeern Ireland (MVP)</a>

      <p><a href="/p4-ni">Full list of screens</a></p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Version 5 (includes latest DWP authenticate screens)</h2>

      <p>Work in progress&hellip;</p>

      <a href="/p5/sign-in" class="govuk-button">View prototype version 5</a>

      <p>Not tested.</p>

      <p><a href="/p5">Full list of screens</a></p>


      <h2 class="govuk-heading-m">Test version</h2>

      <p>Work in progress&hellip;</p>

      <a href="/test/sign-in/intro-question" class="govuk-button">View test prototype (based on v4)</a>

      <p><a href="/test">Full list of screens</a></p>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

{% block footer %}
{% endblock %}
