{% extends "layout_master.html" %}

{% block pageTitle %}
  Rough prototypes and exploration &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="index" rel="prev" class="govuk-back-link">Index page</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Reference screens to support Jira storys</h1>

      <h2 class="govuk-heading-m">Reference 1</h2>
      <p>MVP reference screens</p>

      <a href="/reference-index" class="govuk-button">View R1 screens</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Reference 2</h2>

      <a href="/reference-index-2" class="govuk-button">View R2 screens</a>
      <p>Changes include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>new cookies screens</li>
        <li>updated content for activity questions to align with clerical PIP2</li>
        <li>PDF download link and sign out button added to info sent confirmation screen</li>
        <li>new signed out screen after info sent confirmation</li>
        <li>content about signing in again to upload more supporting evidence moved from confirmation to signed out screen </li>
        <li>adding a returning user flow to enable further evidence to be uploaded and sent</li>

      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Reference 3</h2>

      <a href="/reference-index-3" class="govuk-button">View R3 screens</a>
      <p>Changes include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>'Help with answering questions and providing evidence' (PDF) replaced with Nov 2020 version</li>
        <li>'Help with the types of supporting evidence...'(PDF) removed</li>
        <li>Links to 'Help with the types of supporting evidence...'(PDF) removed from 'Help and Support' and 'Supporting evidence' intro page.</li>
        <li>Content change to additional condition question: 'What other health condition ...?' (accessibility recommendation)</li>

      </ul>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

{% block footer %}
{% endblock %}
