{% extends "layout_master.html" %}

{% block pageTitle %}
  Reference screens to support JIRA stories &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a href="ref-index" rel="prev" class="govuk-back-link">Reference files index page</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Reference screens version 3 to support JIRA&nbsp;stories</h1>
  </div>
</div>

<p>Changes in this version:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>'Help with answering questions and providing evidence' (PDF) replaced with Nov 2020 version</li>
  <li>'Help with the types of supporting evidence...'(PDF) removed</li>
  <li>Links to 'Help with the types of supporting evidence...'(PDF) removed fro 'Help and Support' and 'Task list'</li>
  <li>Content change to 'condition-2' page: 'What other health condition ...' (accessibility recommendation)</li>
</ul>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card">
        <div class="card-head">
          <h2 class="govuk-heading-m govuk-!-margin-0">Claimant-facing screens</h2>
        </div>

        <div class="card-body">

          <h4 class="govuk-heading-m">Authentication</h4>
          <ul class="thumbs">
            <li>
              <a href="/public/flow-diagrams/sign-in.pdf">
                <img src="/public/flow-diagrams/sign-in-thumb.png" class="thumb">
              Sign in flow</a>
            </li>
            <li>
              <a href="/public/flow-diagrams/locked-account.pdf">
                <img src="/public/flow-diagrams/locked-account-thumb.png" class="thumb">
              Forgot password / account locked flow</a>
            </li>
          </ul>
          <div class="clear" style="clear: both"></div>

          <h5 class="govuk-heading-s">Service home</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/sign-in">Service index</a><br>(temporary fallback while the tactical PDF service is in use)
              <ul>
                <li><a href="/r3/sign-in/validation">Validation messages</a></li>
              </ul>
            </li>
            <li><a href="/r3/sign-in/intro-question">New or existing</a>
              <ul>
                <li><a href="/r3/sign-in/validation/intro-question">Validation messages</a></li>
              </ul>
            </li>
          </ul>
          <h5 class="govuk-heading-s">New users</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/sign-in/intro">Introduction to the service</a>
            </li>
            <li>
              <a href="/r3/sign-in/register">Register</a>
              <ul>
                <li><a href="/r3/sign-in/validation/register">Validation messages</a></li>
              </ul>
            </li>
            <li>
              <a href="/r3/sign-in/code-text">Enter a 6-digit code from text message</a>
              <ul>
                <li><a href="/r3/sign-in/validation/code-text">Validation messages</a></li>
              </ul>
            </li>
            <li>
              <a href="/r3/sign-in/code-email">Enter a 6-digit code from email</a>
              <ul>
                <li><a href="/r3/sign-in/validation/code-email">Validation messages</a></li>
              </ul>
            </li>
            <li>
              <a href="/r3/sign-in/create-password">Create your password</a>
              <ul>
                <li><a href="/r3/sign-in/validation/create-password">Validation messages</a></li>
              </ul>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Sign in</h5>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/sign-in/sign-in">Sign in</a>
              <ul>
                <li><a href="/r3/sign-in/validation/sign-in">Validation messages</a></li>
              </ul>
            </li>
            <li><a href="/r3/sign-in/splash-message">Signed in message</a></li>
          </ul>


          <h5 class="govuk-heading-s">Code expired</h5>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/sign-in/code-text-get-another?expired=true">Text message code expired</a></li>
            <li><a href="/r3/sign-in/code-email-get-another?expired=true">Email code expired</a></li>
          </ul>

          <h5 class="govuk-heading-s">Forgot password</h5>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/sign-in/forgot-password">Forgot password / request reset</a></li>
          </ul>

          <h5 class="govuk-heading-s">Account locked</h5>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/sign-in/locked-out">Locked out</a></li>
            <li><a href="/r3/sign-in/enter-details?scenario=locked">Enter details</a>
              <ul>
                <li><a href="/r3/sign-in/validation/enter-details">Validation messages</a></li>
              </ul>
            </li>
            <li><a href="/r3/sign-in/code-text?scenario=locked">Text code - account locked</a></li>
            <li><a href="/r3/sign-in/code-text-get-another?scenario=locked">Get another text code - account locked</a></li>
            <li><a href="/r3/sign-in/code-email?scenario=locked">Email code  - account locked</a></li>
            <li><a href="/r3/sign-in/code-email-get-another?scenario=locked">Get another email code - account locked</a></li>
            <li>
              <a href="/r3/sign-in/create-new-password">Create your new password</a>
              <ul>
                <li><a href="/r3/sign-in/validation/create-new-password">Validation messages</a></li>
              </ul>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h4 class="govuk-heading-m">Claim form validation messages</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/public/pdfs/Error-messages-MVP-v5.pdf">Validation messages</a></li>
          </ul>

          <h4 class="govuk-heading-m">Claim form</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/r3/list">Task list</a></li>
          </ul>

          <h5 class="govuk-heading-s">About your health</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/about-your-health/condition">What health condition or disability do you have?</a>

            </li>
            <li>
              <a href="/r3/about-your-health/conditions-details">About this condition or disability</a>

            </li>
            <li>
              <a href="/r3/about-your-health/another">Do you have another condition or disability?</a>

            </li>
            <li>
              <a href="/r3/about-your-health/check">Check your answers</a>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/r3/about-your-health/check-remove">Remove a condition or disability</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="thumbs">
            <li>
              <a href="/public/flow-diagrams/p4-cya-health.pdf">
                <img src="/public/flow-diagrams/p4-cya-health.png" class="thumb">
              About your health: CYA&nbsp;flow</a>
            </li>
          </ul>
          <div class="clear" style="clear: both"></div>

          <h5 class="govuk-heading-s">About your health professionals</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/about-your-health-professionals">Introduction</a>
            </li>
            <li>
              <a href="/r3/about-your-health-professionals/q-health-professional">Are there any health professionals that you would like to tell us about?</a>

            </li>
            <li>
              <a href="/r3/about-your-health-professionals/health-professional">Health professional details</a>

            </li>
            <li>
              <a href="/r3/about-your-health-professionals/another">Are there any other health professionals that you would like to tell us about?</a>

            </li>
            <li>
              <a href="/r3/about-your-health-professionals/check">Check your answers: your health professionals</a>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/r3/about-your-health-professionals/check-remove">Remove a health professional</a>
                </li>
              </ul>
            </li>
          </ul>

         <ul class="thumbs">
            <li>
              <a href="/public/flow-diagrams/p4-cya-health-professionals.pdf">
                <img src="/public/flow-diagrams/p4-cya-health-professionals.png" class="thumb">
              About your health professionals: CYA&nbsp;flow</a>
            </li>
          </ul>

          <div class="clear" style="clear: both"></div>

          <h5 class="govuk-heading-s">Preparing food</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/preparing-food">Does your condition affect you preparing food, or ever prevent you from doing so?</a>
            </li>
            <li>
              <a href="/r3/preparing-food/details">Tell us about the difficulties you have with preparing food and how you manage them</a>
            </li>
            <li>
              <a href="/r3/preparing-food/check">Check your answers: preparing food</a>
            </li>
          </ul>

          <ul class="thumbs">
            <li>
              <a href="/public/flow-diagrams/p4-cya-daily-living.pdf">
                <img src="/public/flow-diagrams/p4-cya-daily-living.png" class="thumb">
              Daily living: CYA&nbsp;flow</a>
            </li>
          </ul>

          <div class="clear" style="clear: both"></div>

          <h5 class="govuk-heading-s">Eating and drinking</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/eating-and-drinking/">Does your condition affect you eating and drinking?</a>
            </li>
            <li>
              <a href="/r3/eating-and-drinking/feeding-tube">Do you use a feeding tube or similar device to eat or drink?</a>
            </li>
            <li>
              <a href="/r3/eating-and-drinking/details">Tell us about the difficulties you have with eating and drinking and how you manage them</a>
            </li>
            <li>
              <a href="/r3/eating-and-drinking/check">Check your answers: eating and drinking</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Managing treatments</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/managing-treatments/">Does your condition affect you managing your treatments?</a>
            </li>
            <li>
              <a href="/r3/managing-treatments/details">Tell us about the difficulties you have with monitoring changes in your health condition or disability and taking medication, and how you manage them</a>
            </li>
            <li>
              <a href="/r3/managing-treatments/therapies">Tell us about any therapies you take at home that need the help of another person</a>
            </li>
            <li>
              <a href="/r3/managing-treatments/check">Check your answers: managing treatments</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Washing and bathing</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/washing-and-bathing">Does your condition affect you washing and bathing?</a>
            </li>
            <li>
              <a href="/r3/washing-and-bathing/details">Tell us about the difficulties you have with washing and bathing and how you manage them</a>
            </li>
            <li>
              <a href="/r3/washing-and-bathing/check">Check your answers: washing and bathing</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Using the toilet and managing incontinence</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/managing-toilet-needs/">Does your condition affect you using the toilet or managing incontinence?</a>
            </li>
            <li>
              <a href="/r3/managing-toilet-needs/details">Tell us about the difficulties you have with going to the toilet and how you manage them</a>
            </li>
            <li>
              <a href="/r3/managing-toilet-needs/check">Check your answers: managing toilet needs</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Dressing and undressing</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/dressing-and-undressing/">Does your condition affect you dressing or undressing?</a>
            </li>
            <li>
              <a href="/r3/dressing-and-undressing/details">Tell us about the difficulties you have with dressing and undressing and how you manage them</a>
            </li>
            <li>
              <a href="/r3/dressing-and-undressing/check">Check your answers: dressing and undressing</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Talking, listening and understanding</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/talking-and-listening/">Does your condition affect you talking, listening and understanding?</a>
            </li>
            <li>
              <a href="/r3/talking-and-listening/details">Tell us about the difficulties you have with talking,listening and understanding and how you manage them</a>
            </li>
            <li>
              <a href="/r3/talking-and-listening/check">Check your answers: talking, listening and understanding</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Reading</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/reading/">Does your condition affect you reading?</a>
            </li>
            <li>
              <a href="/r3/reading/details">Tell us about the difficulties you have with reading words or symbols and how you manage them</a>
            </li>
            <li>
              <a href="/r3/reading/check">Check your answers: reading</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Mixing with other people</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/mixing-with-other-people/">Does your condition affect you mixing with other people?</a>
            </li>
            <li>
              <a href="/r3/mixing-with-other-people/details">Tell us about the difficulties you have with mixing with other people and how you manage them</a>
            </li>
            <li>
              <a href="/r3/mixing-with-other-people/check">Check your answers: mixing with other people</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Managing money</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/managing-money/">Introduction</a>
            </li>
            <li>
              <a href="/r3/managing-money/details">Tell us about the difficulties you have with managing your money and how you manage them</a>
            </li>
            <li>
              <a href="/r3/managing-money/check">Check your answers: managing money</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Planning and following a journey</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/planning-and-following-a-journey/">Does your condition affect you planning and following journeys?</a>
            </li>
            <li>
              <a href="/r3/planning-and-following-a-journey/details">Tell us more about the difficulties you have with planning and following journeys and how you manage them</a>
            </li>
            <li>
              <a href="/r3/managing-money/check">Check your answers: planning and following a journey</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Moving around</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/moving-around/">Does your condition affect you moving around?</a>
            </li>
            <li>
              <a href="/r3/moving-around/info">How well can you stand and how far can you walk using any aids or appliances you need?</a>
            </li>
            <li>
              <a href="/r3/moving-around/details">Tell us more about the difficulties you have with moving around and how you manage them</a>
            </li>
            <li>
              <a href="/r3/moving-around/check">Check your answers: moving around</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Additional information</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/additional-information/">Is there anything else you would like to tell us about?</a>

            </li>
            <li>
              <a href="/r3/additional-information/details">Additional information</a>

            </li>
            <li>
              <a href="/r3/additional-information/check">Check your answers: additional information</a>
            </li>
          </ul>

          <h5 class="govuk-heading-s">Upload supporting evidence and apply</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/supporting-evidence/">Introduction</a>
            </li>
            <li>
              <a href="/r3/supporting-evidence/supporting-evidence">Do you want to upload any supporting evidence?</a>
            </li>
            <li>
              <a href="/r3/supporting-evidence/file-upload-help">How to take a photo of your evidence</a>
            </li>
            <li>
              <a href="/r3/supporting-evidence/supporting-evidence-upload-1">Upload a file</a>

            </li>
            <li>
              <a href="/r3/supporting-evidence/supporting-evidence-uploaded-1">Your uploaded files</a>

            </li>
            <li>
              <a href="/r3/supporting-evidence/supporting-evidence-upload-2">Upload another file</a>

            </li>
            <li>
              <a href="/r3/apply/declaration">Declaration</a>
              <ul>
                <li><a href="/r3/apply/apply-failure/declaration">Error for submission failure</a></li>
              </ul>
            </li>
            <li>
              <a href="/r3/apply/confirmation">Application complete</a>
            </li>
            <li>
              <a href="/r3/apply/signed-out">Signed out</a>
            </li>
          </ul>

          <h5 class="govuk-heading-m">Returning user uploading further evidence</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/coming-back/sign-in">Sign in</a>
            </li>
            <li>
              <a href="/r3/coming-back/code-text">Enter a 6 digit code from text</a>
            </li>
            <li>
              <a href="/r3/coming-back/">Coming back to upload supporting evidence</a>
            </li>
            <li>
              <a href="/r3/coming-back/supporting-evidence-upload-1">Upload a file</a>
            </li>
            <li>
              <a href="/r3/coming-back/supporting-evidence-uploaded-1">Your uploaded file</a>
            </li>
            <li>
              <a href="/r3/coming-back/supporting-evidence-upload-2">Upload another file</a>
            </li>
            <li>
              <a href="/r3/coming-back/supporting-evidence-uploaded-2">Your uploaded files</a>
            </li>
            <li>
              <a href="/r3/coming-back/confirmation-returning">Uploaded files sent confirmation</a>
            </li>
            <li>
              <a href="/r3/coming-back/there-is-a-problem">File deleted 'There is a problem'</a>
            </li>
            <li>
              <a href="/r3/coming-back/signed-out">Signed out</a>
            </li>

          </ul>

          <h5 class="govuk-heading-s">Coming back to upload further evidence - send failure message - post MVP</h5>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="r3/supporting-evidence/returning-user-upload-error">Sorry there is a problem</a>
            </li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h5 class="govuk-heading-m">Coming back to upload further evidence - MVP screens - not to be used for reference</h5>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/coming-back-mvp/">Sign in</a>
            </li>
            <li>
              <a href="/r3/coming-back-mvp/code-text">Enter a 6 digit code from text</a>
            </li>
            <li>
              <a href="/r3/coming-back-mvp/returning-user-upload-error">Sorry there is a problem</a>
            </li>
            <li>
              <a href="/r3/coming-back-mvp/sign-out">Signed out</a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h4 class="govuk-heading-m">Other screens</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/r3/help">Help and contact</a>
            </li>
            <li>
              <a href="/r3/sign-out">Signed out</a>
            </li>
            <li>
              <a href="/r3/sign-in/timed-out">Session timed out</a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">Privacy</a>
            </li>
            <li>
              <a href="/r3/info/cookies">Cookies</a>
            </li>
            <ul class="thumbs">
              <li>
                <a href="/public/flow-diagrams/cookie-consent.pdf">
                  <img src="/public/flow-diagrams/cookie-consent.png" class="thumb">
                Cookie consent</a>
              </li>
            </ul>
            <div class="clear" style="clear: both"></div>
            <li>
              <a href="/r3/info/accessibility">Accessibility</a>
            </li>
            <li>
              <a href="/r3/feedback/feedback">Feedback</a>
            </li>
          </ul>

        </div>{# /card-body #}
    </div>{# /card #}

    <div class="card">
      <div class="card-head">
        <h2 class="govuk-heading-m govuk-!-margin-0">Text messages</h2>
      </div>
      <div class="card-body">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r3/texts/6-digit-code">SMS 6-digit code</a></li>
        </ul>
      </div>{# /card-body #}
    </div>{# /card #}

    <div class="card">
      <div class="card-head">
        <h2 class="govuk-heading-m govuk-!-margin-0">Emails</h2>
      </div>
      <div class="card-body">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r3/emails/welcome">Welcome</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r3/emails/code">Email 6-digit code</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/r3/emails/confirmation">Confirmation email after completing the form / sending more evidence </a></li>
        </ul>
      </div>{# /card-body #}
    </div>{# /card #}

  </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-column-one-third -->

{% endblock %}
