{% set pageTitle = "Check your answers: managing treatments" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="/p3/list">

      <h1 class="govuk-heading-l">Check your answers: managing treatments</h1>

      {% if data['managingtreatments-question'] === 'Yes' %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you managing your treatments?"
              },
              value: {
                text: data['managingtreatments-question']
              },
              actions: {
                items: [
                  {
                    href: "/p3/managing-treatments/",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Tell us about the difficulties you have with monitoring changes in your health condition or disability and taking medication, and how you manage them. "
              },
              value: {
                html: data['managingtreatments-details']
              },
              actions: {
                items: [
                  {
                    href: "/p3/managing-treatments/details",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

      {% else %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you managing your treatments?"
              },
              value: {
                text: data['managingtreatments-question']
              },
              actions: {
                items: [
                  {
                    href: "/p3/managing-treatments/",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
        
      {% endif %}

      <a href="/p3/list?managingtreatments=completed" class="govuk-button">Confirm and save</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
