{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  We’ve saved your application
{% endblock %}


{% block beforeContent %}
  {% include "v1/_beta-banner.html" %}
{#   {% include "v1/_back-link.html" %} #}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/start/code" method="post" novalidate>

        <h1 class="govuk-heading-l">Sign in</h1>

        {{ govukInput({
          label: {
            text: "Your email address",
            isPageHeading: false
          },
          hint: {
            text: "This must the same email address your invite was sent to."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Your last name",
            isPageHeading: false
          },
          classes: "govuk-input--width-11",
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Your unique access code",
            isPageHeading: false
          },
          hint: {
            text: "This is the code we sent you in the original PIP email"
          },
          classes: "govuk-input--width-10",
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Your National Insurance number"
          },
          hint: {
            text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: "national-insurance-number",
          name: "national-insurance-number",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="#">Forgotten your unique access code?</a></p>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}