{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Apply for Personal Independence Payment (PIP)
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full
    ">

      <p style="font-size: 16px">Subject:<br>Apply for Personal Independence Payment (PIP)</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>Dear Sarah,</p>

      <h2 class="govuk-heading-m">Tell us how your health condition or disability affects you</h2>

      <p>Thank you for starting your Personal Independence Payment (PIP) claim.</p>

      <p>We need to find out more information about your daily living and mobility needs to help us make our decision.</p>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <p>Use the following access code.</p>

      <p class="govuk-body-l"><strong>UJIK98789</strong></p>

      <p>Go to <a href="https://apply-for-pip.health.dwp.gov.uk">https://apply-for-pip.health.dwp.gov.uk</a> and enter your unique access code, etc&hellip;</p>



    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}