{% set pageTitle = "Dressing and undressing" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
  {% include "p3/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Dressing and undressing</h1>
      <p class="govuk-body-l">Tell us about whether you can dress or undress yourself.</p>
      <p>This means:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>putting on and taking off clothes, including shoes and socks</li>
        <li>being able to use fastenings such as zips or buttons</li>
        <li>knowing when to put on or take off clothes</li>
        <li>being able to select clothes that are appropriate</li>
      </ul>
      <p>We understand talking about your personal care needs can be difficult, but we need you to tell us as much as you can.</p>
    </div><!-- govuk-form-group -->

    <a href="/p3/dressing-and-undressing/aid" class="govuk-button">Continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
