{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
  {% include "p3/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-add-another">

    <form action="/p3/about-your-health/conditions-details" method="post" novalidate>

      {% call govukFieldset({
        classes: 'moj-add-another__item',
        legend: {
          text: 'What health condition or disability do you have?',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>By condition or disability, we mean physical, sight, hearing or speech difficulties, learning, developmental or behavioural difficulties or mental health problems.</p>

      <p>You can add other other conditions and disabilities later if you need to.</p>

      {{ govukInput({
        id: 'condition-0--name-',
        name: 'condition-0--name-',
        label: {
          html: 'Name of condition or disability',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: "For example, Kidney failure."
        },
        attributes: {
          'data-name': 'condition-%index%--name-',
          'data-id': 'condition-%index%--name-'
        }
      }) }}

      {{ govukInput({
        id: 'condition-0--date-',
        name: 'condition-0--date-',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Approximate start date',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: "For example, about 14 months ago."
        },
        attributes: {
          'data-name': 'condition-%index%--name-',
          'data-id': 'condition-%index%--name-'
        }
      }) }}

      {% endcall %}

        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>

      {% include "p3/about-your-health/_return-link.html" %}
      
    </div>{# /moj-add-another #}
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}