{% set pageTitle = "Check your answers: using the toilet and managing incontinence" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form id="form" method="post" action="/p5/list">

      <h1 class="govuk-heading-l">Check your answers: using the toilet and managing incontinence</h1>

      {% if data['managingtoiletneeds-question'] === 'Yes' %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you using the toilet or managing incontinence?"
              },
              value: {
                text: data['managingtoiletneeds-question']
              },
              actions: {
                items: [
                  {
                    href: "/p5/managing-toilet-needs/",
                    text: "Change",
                    visuallyHiddenText: " your answer to whether your condition affects you using the toilet or managing incontinence"
                  }
                ]
              }
            },
            {
              key: {
                text: "Difficulties you have with going to the toilet and managing incontinence"
              },
              value: {
                html: data['managingtoiletneeds-details']
              },
              actions: {
                items: [
                  {
                    href: "/p5/managing-toilet-needs/details",
                    text: "Change",
                    visuallyHiddenText: " your answers to difficulties you have with going to the toilet and how you manage them"
                  }
                ]
              }
            }
          ]
        }) }}

      {% else %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Does your condition affect you using the toilet or managing incontinence?"
              },
              value: {
                text: data['managingtoiletneeds-question']
              },
              actions: {
                items: [
                  {
                    href: "/p5/managing-toilet-needs/",
                    text: "Change",
                    visuallyHiddenText: "your answers to difficulties you have with going to the toilet and how you manage them"
                  }
                ]
              }
            }
          ]
        }) }}

      {% endif %}

      <a href="/p5/list?managingtoiletneeds=completed" class="govuk-button">Confirm and save</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
