{% set pageTitle = "Extra information – preparing food" %}

{% extends "layout-p3.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p3/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p3/_beta-banner.html" %}
  {% include "p3/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-add-another">
    
    <form action="/p3/preparing-food/check" method="post" novalidate>

      {{ govukTextarea({
        name: "preparingfood-details",
        id: "preparingfood-details",
        rows: "18",
        value: data['preparingfood-details'],
        label: {
          text: "Tell us about the difficulties you have with preparing food and how you manage them",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          html: '
          <p>For each difficulty, please tell us:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how often you have this difficulty. Tell us about both good and bad days</li>
            <li>what the difficulty is</li>
            <li>why you have it, or how it relates to your condition</li>
            <li>any aids or adaptations you use, or help you get from another person</li>
            <li>any help you feel you need but don’t get</li>
          </ul>
          <h2 class="govuk-heading-m">Examples</h2>
          <ol class="govuk-list govuk-list--number">
            <li>About twice a year, for about three weeks at a time I have difficulty remembering to turn the hob off because I get too distracted to complete complex tasks. My partner supervises me in the kitchen to make sure I stay safe.</li>
            <li>Every day, I have difficulty standing for more than ten minutes while preparing food because my leg is too stiff and painful. I need to use a perching stool so I can rest my leg while preparing food.</li>
          </ol>
        '
        }
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "p3/preparing-food/_return-link.html" %}
      
    </div>{# /moj-add-another #}
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}