{% extends "layout.html" %}

{% set pageTitle = "Upload evidence – Send your PIP form – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
{% include "v1/_beta-banner.html" %}

  {% if cya == "true" %}
    {{ govukBackLink({
      text: "Back",
      href: "/v1/supporting-evidence/supporting-evidence-uploaded-2-cya"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back",
      href: "/v1/supporting-evidence/supporting-evidence-uploaded-2"
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if cya == "true" %}
        <form action="/v1/supporting-evidence/uploading-supporting-evidence-3-cya" method="post" novalidate>
      {% else %}
        <form action="/v1/supporting-evidence/uploading-supporting-evidence-3" method="post" novalidate>
      {% endif %}
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload another piece of evidence
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="supporting-evidence-file-3">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="supporting-evidence-file-3" name="supporting-evidence-file-3" type="file">
          </div>
        </fieldset>
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" >
          Continue
        </button>
      </form>

      {% include "v1/supporting-evidence/_return-link.html" %}

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
