<p style="margin-top: 120px; margin-bottom: -5px; background-color: #eee; padding: 10px; font-size: 16px">
  <strong>Prototype shortcuts:</strong> &nbsp;
  <a href="/p5/list?aboutyourhealth=completed&amp;aboutyourhealthprofessionals=completed&amp;preparingfood=completed&amp;eatinganddrinking=completed&amp;managingtreatments=completed&amp;washingandbathing=completed&amp;managingtoiletneeds=completed&amp;dressingandundressing=completed&amp;talkingandlistening=completed&amp;reading=completed&amp;mixingwithotherpeople=completed&amp;managingmoney=completed&amp;planningandfollowingajourney=completed&amp;movingaround=completed&amp;additionalinformation=completed">Complete sections 1–4</a> &nbsp; |
  <a href="/p5/clear-p5">Clear all data</a> |
  <a href="/p5/sign-in-already-registered/intro">Already registered</a>

</p>
