{% extends "layout-p5.html" %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block pageTitle %}
  Cancel your application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Cancel your application</h1>
        <p>We will delete all the information you have given us.</p>
        <p>Please confirm that you want to continue.</p>
      </div>{# /govuk-form-group #}

      <p><a href="/p5/clear-p5" class="govuk-button">Cancel application</a></p>
     
      <p><a href="list">Return to list</a></p>

    </div>
  </div>

{% endblock %}