{% set status = "signed-out" %}
{% set pageTitle = "You have signed out" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have signed out
        </h1>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>If you have not finished your application your progress has been saved. To complete your application or upload and send supporting evidence <a href="/r2/sign-in/sign-in">sign in</a> again. You might find it useful to bookmark the sign in page in your internet browser or use the link in the email we sent you.</p>
      <!-- <p>We will save this application until {% include 'includes/_date.html' %}. If you do not finish and send your application by this date but still want to claim, you will need to start your application again.</p> -->
      <!-- Note: deadline date removed for MVP as it varies by claimant -->

      <p>You will need your email address, mobile phone and password when you next sign in.</p>

      <h2 class="govuk-heading-m">Give feedback</h2>

      <p><a class="govuk-link" href="feedback/feedback" target="_blank">What did you think of this service? (opens in new tab)</a> takes 30 seconds</p>

      <p><a class="govuk-link"href="https://getinvolved.dwp.gov.uk/digital/626599b1" target="_blank">Volunteer to take part in research about PIP (opens in new tab)</a></p>


      <p>It is now safe to close this window.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
